## Settings file was created by plugin BigPresent v1.0.5
## Plugin GUID: com.github.xuuxiaolan.BigPresent

[Big Present]

## The spawn chance weight for Big Present, relative to other existing items.
## Goes up from 0, lower is more rare, 100 and up is very common. 
## Allows the use of Moon names in the config.
# Setting type: String
# Default value: Modded:69,Vanilla:69
Big Present | SpawnWeight = 40

## Comma separated list of enemies to blacklist from the Big Present spawning.
# Setting type: String
# Default value: 
Big Present | Blacklist Enemies = shiggy, red pill, Cabinet, VileVendingMachine, Football, Girl, Walker, Janitor, Mantis shrimp, Duck, Centipede, Clay Surgeon, Masked, Lord Of The Manor, Transporter, Janitor, Nancy, Walker, BellCrab, Mistress, Docile Locust Bees, GiantKiwi, Manticoil, Cutiefly, SparkTower, Boom bird, Coil Crab, Leaf boy, Earth Leviathan, ForestGiant, RadMech, Vermin, Guardsman, Driftwood Menace, Redwood Titan, Soul_Devourer, Ogopogo

