## Settings file was created by plugin Cyber_Truck v1.0.0
## Plugin GUID: Cyber_Truck

[Global]

## How much the cyber truck costs.
# Setting type: Int32
# Default value: 200
Cyber Truck Price = 700

