## Settings file was created by plugin StarlancerZero v4.0.0
## Plugin GUID: Starlancer.StarlancerZero

[StarlancerZeroConfig Options]

## Whether StarlancerZeroConfig is enabled.
# Setting type: Boolean
# Default value: true
Enabled = true

## Whether you're allowed to edit the config entries for Anomaly.
# Setting type: Boolean
# Default value: false
Anomaly | Allow Editing Config = true

## Cost for Anomaly in the shop.
# Setting type: Int32
# Default value: 2000
Anomaly | Cost = 2000

## Min/Max scrap for Anomaly.
# Setting type: BoundedRange
# Default value: 35,50
Anomaly | Min/Max Scrap = 35,50

## Time multiplier for Anomaly.
# Setting type: Single
# Default value: 1
Anomaly | Time Multiplier = 1

## Inside enemy power count for Anomaly.
# Setting type: Int32
# Default value: 26
Anomaly | Inside Enemy Power Count = 26

## Outside enemy power count for Anomaly.
# Setting type: Int32
# Default value: 14
Anomaly | Outside Enemy Power Count = 14

## Daytime enemy power count for Anomaly.
# Setting type: Int32
# Default value: 6
Anomaly | Daytime Enemy Power Count = 6

## Inside enemy spawn range for Anomaly.
# Setting type: Single
# Default value: 4
Anomaly | Inside Enemy Spawn Range = 4

## Outside enemy spawn range for Anomaly.
# Setting type: Single
# Default value: 3
Anomaly | Outside Enemy Spawn Range = 3

## Daytime enemy spawn range for Anomaly.
# Setting type: Single
# Default value: 3
Anomaly | Daytime Enemy Spawn Range = 3

## Inside enemy spawn curve for Anomaly.
# Setting type: AnimationCurve
# Default value: 0.00, -3.00;0.11, -1.64;0.22, 1.28;0.33, 5.54;0.45, 7.79;0.56, 8.24;0.67, 10.44;0.78, 13.08;0.89, 14.51;1.00, 15.00
Anomaly | Inside Enemy Spawn Curve = 0.00, -3.00;0.11, -1.64;0.22, 1.37;0.33, 5.63;0.44, 7.78;0.56, 8.24;0.67, 10.35;0.78, 13.08;0.89, 14.51;1.00, 15.00

## Outside enemy spawn curve for Anomaly.
# Setting type: AnimationCurve
# Default value: 0.00, -2.89;0.11, -1.73;0.22, 0.04;0.33, 0.68;0.45, 2.18;0.56, 2.68;0.67, 3.39;0.78, 4.32;0.89, 4.83;1.00, 4.99
Anomaly | Outside Enemy Spawn Curve = 0.00, -2.89;0.11, -1.73;0.22, 0.04;0.33, 0.68;0.44, 2.17;0.56, 2.68;0.67, 3.39;0.78, 4.32;0.89, 4.83;1.00, 4.99

## Daytime enemy spawn curve for Anomaly.
# Setting type: AnimationCurve
# Default value: 0.00, 2.27;0.11, 1.01;0.22, -0.33;0.33, -4.15;0.44, -9.63;0.56, -12.87;0.67, -14.43;0.78, -14.88;0.89, -14.81;1.00, -14.82
Anomaly | Daytime Enemy Spawn Curve = 0.00, 2.27;0.11, 1.01;0.22, -0.33;0.33, -4.24;0.44, -9.72;0.56, -12.78;0.67, -14.43;0.78, -14.88;0.89, -14.81;1.00, -14.82

## Whether Anomaly should have it's unlock requirements disabled.
# Setting type: Boolean
# Default value: false
Anomaly | Disable Unlock Requirements = false

## Whether you're allowed to edit the config entries for StarlancerZeroScene.
# Setting type: Boolean
# Default value: false
StarlancerZeroScene | Allow Editing Config = false

