## Settings file was created by plugin RandomEnemiesSize v1.1.20
## Plugin GUID: wexop.random_enemies_size

[Custom]

## Activate to make this mod affect vanilla enemies. No need to restart the game :)
# Setting type: Boolean
# Default value: true
AffectVanillaEnemies = true

## Activate to make this mod affect modded enemies. No need to restart the game :)
# Setting type: Boolean
# Default value: true
AffectModdedEnemies = true

## Custom the size for an enemy wanted with his EXACT name. RECOMMENDED: Go to the thunderstore mod page, you can find a generator to make this config easier. Manual example -> ForestGiant:0.4:5;FlowerMan:0.2:6. Dont forgot the separator ';' between each monsters. No need to restart the game :)
# Setting type: String
# Default value: 
CustomEnemiesSize = 

## THE MOD LethalLevelLoader IS REQUIRED FOR THIS FEATURE. Multiply the base size for an indoor enemy in an interior wanted with his EXACT name. RECOMMENDED: Go to the thunderstore mod page, you can find a generator to make this config easier. Manual example -> mansion#any:1.5,NutCracker:2;customInterior#any:3; No need to restart the game :)
# Setting type: String
# Default value: 
CustomInteriorsSize = 

## Custom the size for an enemy on a specific moon. RECOMMENDED: Go to the thunderstore mod page, you can find a generator to make this config easier. Manual example -> Assurance#any:0.8:2.5,ForestGiant:0.4:5,FlowerMan:0.2:6;Mars#any:1:2,ForestGiant:1:3 . No need to restart the game :)
# Setting type: String
# Default value: 
CustomMoonEnemiesSize = 

## Custom the size for an enemy with fixed value. Manual example -> ForestGiant:1:2:3;FlowerMan:0.2:2. This mean, forest giant can be size 1 or 2 or 3, no others values. No need to restart the game :)
# Setting type: String
# Default value: 
CustomFixedEnemiesSize = 

[DEV]

## Show the dev logs
# Setting type: Boolean
# Default value: false
DevLogs = false

[FunMode]

## Activate the fun mode to randomize the size in every space directions (verticaly, horizontaly). No need to restart the game :)
# Setting type: Boolean
# Default value: false
FunMode = false

## If fun mode is activated, it will change the minimum horizontal size of monsters (axis x and z). No need to restart the game :)
# Setting type: Single
# Default value: 0.5
FunModeHorizontalSizeMin = 0.5

## If fun mode is activated, it will change the maximum horizontal size of monsters (axis x and z). No need to restart the game :)
# Setting type: Single
# Default value: 1.5
FunModeHorizontalSizeMax = 1.5

## If fun mode is activated, it will change the horizontal axis (x and z) with the same value. No need to restart the game :)
# Setting type: Boolean
# Default value: false
LockHorizontalAxis = false

[General]

## The chance for each monster to have a random size. 100% is always, 0% is never. No need to restart the game :)
# Setting type: Single
# Default value: 100
ChanceOfRandomSize = 5

## Change the minimum size of monsters in the factory. No need to restart the game :)
# Setting type: Single
# Default value: 0.4
MinMonstersSizeIndoor = 0.5

## Change the maximum size of monsters in the factory. No need to restart the game :)
# Setting type: Single
# Default value: 1.5
MaxMonstersSizeIndoor = 1.35

## Change the minimum size of monsters outside the factory. No need to restart the game :)
# Setting type: Single
# Default value: 0.5
MinMonstersSizeOutdoor = 0.5

## Change the maximum size of monsters outside the factory. No need to restart the game :)
# Setting type: Single
# Default value: 3
MaxMonstersSizeOutdoor = 2

[Influences]

## Activate to make size influence monsters HP. No need to restart the game :)
# Setting type: Boolean
# Default value: true
InfluenceHp = true

## Activate to make size influence monsters sounds pitch. No need to restart the game :)
# Setting type: Boolean
# Default value: true
InfluenceSound = true

## If InfluenceSound is activated, this define the minimum pitch of monsters audio sources. No need to restart the game :)
# Setting type: Single
# Default value: 0.6
InfluenceSoundMinPitch = 0.6

## If InfluenceSound is activated, this define the maximum pitch of monsters audio sources. No need to restart the game :)
# Setting type: Single
# Default value: 2.5
InfluenceSoundMaxPitch = 2.5

## Activate to make size influence beehive weight and price. No need to restart the game :)
# Setting type: Boolean
# Default value: true
InfluenceBeehive = true

## Activate to make size influence sapsucker eggs weight and price. No need to restart the game :)
# Setting type: Boolean
# Default value: true
influenceSapsuckerEggs = true

[Landmine]

## Activate to make this mod affect land mines size. No need to restart the game :)
# Setting type: Boolean
# Default value: true
AffectLandMineSize = true

## Change the minimum size of land mines. No need to restart the game :)
# Setting type: Single
# Default value: 0.2
MinLandMinesSize = 0.25

## Change the maximum size of land mines. No need to restart the game :)
# Setting type: Single
# Default value: 3
MaxLandMinesSize = 1.5

[ModdedHazard]

## Activate to make this mod affect modded map hazards size. No need to restart the game :)
# Setting type: Boolean
# Default value: true
AffectModdedHazard = true

## Change the minimum size of modded map hazards. No need to restart the game :)
# Setting type: Single
# Default value: 0.3
MinModdedHazardSize = 0.25

## Change the maximum size of modded map hazards. No need to restart the game :)
# Setting type: Single
# Default value: 2
MaxModdedHazardSize = 1.5

[SpikeTrap]

## Activate to make this mod affect spike traps size. No need to restart the game :)
# Setting type: Boolean
# Default value: true
AffectSpikeTrapSize = true

## Change the minimum size of spike traps. No need to restart the game :)
# Setting type: Single
# Default value: 0.3
MinSpikeTrapSize = 0.25

## Change the maximum size of spike traps. No need to restart the game :)
# Setting type: Single
# Default value: 2
MaxSpikeTrapSize = 1.5

[Turret]

## Activate to make this mod affect turrets size. No need to restart the game :)
# Setting type: Boolean
# Default value: true
AffectTurretSize = true

## Change the minimum size of turrets. No need to restart the game :)
# Setting type: Single
# Default value: 0.25
MinTurretSize = 0.25

## Change the maximum size of turrets. No need to restart the game :)
# Setting type: Single
# Default value: 1.5
MaxTurretSize = 1.5

