## Settings file was created by plugin Black Mesa Half Life Moon Interior v3.4.1
## Plugin GUID: Black Mesa Team.Black Mesa Half Life Moon Interior

[BlackMesaDungeon Options]

## Whether BlackMesaDungeon is enabled.
# Setting type: Boolean
# Default value: true
Enabled = true

## Whether you're allowed to edit the config entries for Black Mesa.
# Setting type: Boolean
# Default value: false
Black Mesa | Allow Editing Config = false

## Preset moon weights for Black Mesa.
# Setting type: String
# Default value: black_mesa:black_mesa=+300
Black Mesa | Preset Moon Weights = black_mesa:black_mesa=+300

## Preset weather weights for Black Mesa.
# Setting type: String
# Default value: 
Black Mesa | Preset Weather Weights = 

## Preset route weights for Black Mesa.
# Setting type: String
# Default value: 
Black Mesa | Preset Route Weights = 

## Extra scrap generation for Black Mesa.
# Setting type: Int32
# Default value: 0
Black Mesa | Extra Scrap Generation = 0

## Dungeon range clamp for Black Mesa.
# Setting type: BoundedRange
# Default value: 0,999
Black Mesa | Dungeon Range Clamp = 0,999

[BlackMesaItems Options]

## Whether BlackMesaItems is enabled.
# Setting type: Boolean
# Default value: true
Enabled = true

## Whether you're allowed to edit the config entries for Batty and Owl.
# Setting type: Boolean
# Default value: false
Batty and Owl | Allow Editing Config = false

## Preset moon weights for Batty and Owl.
# Setting type: String
# Default value: black_mesa:black_mesa=+9
Batty and Owl | Preset Moon Weights = black_mesa:black_mesa=+9

## Preset interior weights for Batty and Owl.
# Setting type: String
# Default value: 
Batty and Owl | Preset Interior Weights = 

## Preset weather weights for Batty and Owl.
# Setting type: String
# Default value: 
Batty and Owl | Preset Weather Weights = 

## Preset route weights for Batty and Owl.
# Setting type: String
# Default value: 
Batty and Owl | Preset Route Weights = 

## Whether Batty and Owl is a scrap item.
# Setting type: Boolean
# Default value: true
Batty and Owl | Is Scrap = true

## How much Batty and Owl is worth when spawning.
# Setting type: BoundedRange
# Default value: 40,90
Batty and Owl | Value = 40,90

## Whether you're allowed to edit the config entries for Ciri.
# Setting type: Boolean
# Default value: false
Ciri | Allow Editing Config = false

## Preset moon weights for Ciri.
# Setting type: String
# Default value: black_mesa:black_mesa=+9
Ciri | Preset Moon Weights = black_mesa:black_mesa=+9

## Preset interior weights for Ciri.
# Setting type: String
# Default value: 
Ciri | Preset Interior Weights = 

## Preset weather weights for Ciri.
# Setting type: String
# Default value: 
Ciri | Preset Weather Weights = 

## Preset route weights for Ciri.
# Setting type: String
# Default value: 
Ciri | Preset Route Weights = 

## Whether Ciri is a scrap item.
# Setting type: Boolean
# Default value: true
Ciri | Is Scrap = true

## How much Ciri is worth when spawning.
# Setting type: BoundedRange
# Default value: 40,90
Ciri | Value = 40,90

## Whether you're allowed to edit the config entries for Lorenzo.
# Setting type: Boolean
# Default value: false
Lorenzo | Allow Editing Config = false

## Preset moon weights for Lorenzo.
# Setting type: String
# Default value: black_mesa:black_mesa=+9
Lorenzo | Preset Moon Weights = black_mesa:black_mesa=+9

## Preset interior weights for Lorenzo.
# Setting type: String
# Default value: 
Lorenzo | Preset Interior Weights = 

## Preset weather weights for Lorenzo.
# Setting type: String
# Default value: 
Lorenzo | Preset Weather Weights = 

## Preset route weights for Lorenzo.
# Setting type: String
# Default value: 
Lorenzo | Preset Route Weights = 

## Whether Lorenzo is a scrap item.
# Setting type: Boolean
# Default value: true
Lorenzo | Is Scrap = true

## How much Lorenzo is worth when spawning.
# Setting type: BoundedRange
# Default value: 40,90
Lorenzo | Value = 40,90

## Whether you're allowed to edit the config entries for Lulu and George.
# Setting type: Boolean
# Default value: false
Lulu and George | Allow Editing Config = false

## Preset moon weights for Lulu and George.
# Setting type: String
# Default value: black_mesa:black_mesa=+9
Lulu and George | Preset Moon Weights = black_mesa:black_mesa=+9

## Preset interior weights for Lulu and George.
# Setting type: String
# Default value: 
Lulu and George | Preset Interior Weights = 

## Preset weather weights for Lulu and George.
# Setting type: String
# Default value: 
Lulu and George | Preset Weather Weights = 

## Preset route weights for Lulu and George.
# Setting type: String
# Default value: 
Lulu and George | Preset Route Weights = 

## Whether Lulu and George is a scrap item.
# Setting type: Boolean
# Default value: true
Lulu and George | Is Scrap = true

## How much Lulu and George is worth when spawning.
# Setting type: BoundedRange
# Default value: 40,90
Lulu and George | Value = 40,90

## Whether you're allowed to edit the config entries for Oscar.
# Setting type: Boolean
# Default value: false
Oscar | Allow Editing Config = false

## Preset moon weights for Oscar.
# Setting type: String
# Default value: black_mesa:black_mesa=+9
Oscar | Preset Moon Weights = black_mesa:black_mesa=+9

## Preset interior weights for Oscar.
# Setting type: String
# Default value: 
Oscar | Preset Interior Weights = 

## Preset weather weights for Oscar.
# Setting type: String
# Default value: 
Oscar | Preset Weather Weights = 

## Preset route weights for Oscar.
# Setting type: String
# Default value: 
Oscar | Preset Route Weights = 

## Whether Oscar is a scrap item.
# Setting type: Boolean
# Default value: true
Oscar | Is Scrap = true

## How much Oscar is worth when spawning.
# Setting type: BoundedRange
# Default value: 40,90
Oscar | Value = 40,90

## Whether you're allowed to edit the config entries for Owl.
# Setting type: Boolean
# Default value: false
Owl | Allow Editing Config = false

## Preset moon weights for Owl.
# Setting type: String
# Default value: black_mesa:black_mesa=+9
Owl | Preset Moon Weights = black_mesa:black_mesa=+9

## Preset interior weights for Owl.
# Setting type: String
# Default value: 
Owl | Preset Interior Weights = 

## Preset weather weights for Owl.
# Setting type: String
# Default value: 
Owl | Preset Weather Weights = 

## Preset route weights for Owl.
# Setting type: String
# Default value: 
Owl | Preset Route Weights = 

## Whether Owl is a scrap item.
# Setting type: Boolean
# Default value: true
Owl | Is Scrap = true

## How much Owl is worth when spawning.
# Setting type: BoundedRange
# Default value: 40,90
Owl | Value = 40,90

## Whether you're allowed to edit the config entries for Peaches.
# Setting type: Boolean
# Default value: false
Peaches | Allow Editing Config = false

## Preset moon weights for Peaches.
# Setting type: String
# Default value: black_mesa:black_mesa=+9
Peaches | Preset Moon Weights = black_mesa:black_mesa=+9

## Preset interior weights for Peaches.
# Setting type: String
# Default value: 
Peaches | Preset Interior Weights = 

## Preset weather weights for Peaches.
# Setting type: String
# Default value: 
Peaches | Preset Weather Weights = 

## Preset route weights for Peaches.
# Setting type: String
# Default value: 
Peaches | Preset Route Weights = 

## Whether Peaches is a scrap item.
# Setting type: Boolean
# Default value: true
Peaches | Is Scrap = true

## How much Peaches is worth when spawning.
# Setting type: BoundedRange
# Default value: 40,90
Peaches | Value = 40,90

## Whether you're allowed to edit the config entries for Xen Crystal.
# Setting type: Boolean
# Default value: false
Xen Crystal | Allow Editing Config = false

## Preset moon weights for Xen Crystal.
# Setting type: String
# Default value: 
Xen Crystal | Preset Moon Weights = 

## Preset interior weights for Xen Crystal.
# Setting type: String
# Default value: 
Xen Crystal | Preset Interior Weights = 

## Preset weather weights for Xen Crystal.
# Setting type: String
# Default value: 
Xen Crystal | Preset Weather Weights = 

## Preset route weights for Xen Crystal.
# Setting type: String
# Default value: 
Xen Crystal | Preset Route Weights = 

## Whether Xen Crystal is a scrap item.
# Setting type: Boolean
# Default value: true
Xen Crystal | Is Scrap = true

## How much Xen Crystal is worth when spawning.
# Setting type: BoundedRange
# Default value: 40,100
Xen Crystal | Value = 40,100

[BlackMesaMoon Options]

## Whether BlackMesaMoon is enabled.
# Setting type: Boolean
# Default value: true
Enabled = true

## Whether you're allowed to edit the config entries for Black Mesa.
# Setting type: Boolean
# Default value: false
Black Mesa | Allow Editing Config = false

## Cost for Black Mesa in the shop.
# Setting type: Int32
# Default value: 500
Black Mesa | Cost = 500

## Min/Max scrap for Black Mesa.
# Setting type: BoundedRange
# Default value: 60,65
Black Mesa | Min/Max Scrap = 60,65

## Time multiplier for Black Mesa.
# Setting type: Single
# Default value: 0.666
Black Mesa | Time Multiplier = 0.666

## Inside enemy power count for Black Mesa.
# Setting type: Int32
# Default value: 16
Black Mesa | Inside Enemy Power Count = 16

## Outside enemy power count for Black Mesa.
# Setting type: Int32
# Default value: 3
Black Mesa | Outside Enemy Power Count = 3

## Daytime enemy power count for Black Mesa.
# Setting type: Int32
# Default value: 3
Black Mesa | Daytime Enemy Power Count = 3

## Inside enemy spawn range for Black Mesa.
# Setting type: Single
# Default value: 4
Black Mesa | Inside Enemy Spawn Range = 4

## Outside enemy spawn range for Black Mesa.
# Setting type: Single
# Default value: 3
Black Mesa | Outside Enemy Spawn Range = 3

## Daytime enemy spawn range for Black Mesa.
# Setting type: Single
# Default value: 10
Black Mesa | Daytime Enemy Spawn Range = 10

## Inside enemy spawn curve for Black Mesa.
# Setting type: AnimationCurve
# Default value: 0.00, 0.00;0.03, 0.08;0.06, 0.20;0.10, 0.33;0.13, 0.48;0.16, 0.62;0.19, 0.75;0.22, 0.86;0.26, 0.93;0.29, 0.96
Black Mesa | Inside Enemy Spawn Curve = 0.00, 0.00;0.03, 0.08;0.06, 0.20;0.10, 0.33;0.13, 0.48;0.16, 0.62;0.19, 0.75;0.22, 0.86;0.26, 0.93;0.29, 0.96

## Outside enemy spawn curve for Black Mesa.
# Setting type: AnimationCurve
# Default value: 0.00, -2.89;0.11, -2.89;0.22, -2.89;0.34, 0.15;0.45, 1.12;0.56, 1.99;0.67, 2.73;0.78, 3.31;0.89, 3.96;1.01, 5.36
Black Mesa | Outside Enemy Spawn Curve = 0.00, -2.89;0.11, -2.89;0.22, -2.89;0.34, 0.15;0.45, 1.12;0.56, 1.99;0.67, 2.73;0.78, 3.31;0.89, 3.96;1.01, 5.36

## Daytime enemy spawn curve for Black Mesa.
# Setting type: AnimationCurve
# Default value: 0.00, 4.99;0.11, 5.00;0.22, 4.88;0.33, 3.31;0.44, 0.64;0.56, -2.43;0.67, -6.05;0.78, -10.12;0.89, -13.44;1.00, -14.82
Black Mesa | Daytime Enemy Spawn Curve = 0.00, 4.99;0.11, 5.00;0.22, 4.88;0.33, 3.31;0.44, 0.64;0.56, -2.43;0.67, -6.05;0.78, -10.12;0.89, -13.44;1.00, -14.82

## Whether you're allowed to edit the config entries for BlackMesaScene.
# Setting type: Boolean
# Default value: false
BlackMesaScene | Allow Editing Config = false

