## Settings file was created by plugin RunningSkeletonJumpscare v1.1.0
## Plugin GUID: com.mrbub.runningskeletonjumpscare

[Settings]

## 1 in X chance for skeleton to appear each check (e.g., 10000 = 1/10000 chance)
# Setting type: Int32
# Default value: 10000
# Acceptable value range: From 10 to 10000
Chance = 10000

## Frames per second for skeleton animation
# Setting type: Single
# Default value: 60
# Acceptable value range: From 10 to 60
AnimationSpeed = 60

## Enable or disable the skeleton sound effect
# Setting type: Boolean
# Default value: true
EnableSound = true

## Which sound to play: 'BadToTheBone' or 'Original'
# Setting type: String
# Default value: BadToTheBone
# Acceptable values: BadToTheBone, Original
SoundChoice = BadToTheBone

## Volume of the skeleton sound (percentage, can be cranked above 100!)
# Setting type: Single
# Default value: 100
# Acceptable value range: From 0 to 200
Volume = 95.26357

## Disable skeleton jumpscare while in orbit (only triggers on moons)
# Setting type: Boolean
# Default value: false
DisableInOrbit = false

