## Settings file was created by plugin SimpleCommands v1.7.2
## Plugin GUID: JacobG5.SimpleCommands

[Main]

## Restricts commands to only being executed by the host.
# Setting type: Boolean
# Default value: true
hostOnly = false

## Hides command feedback by default. ('hide' flag now shows command feedback.)
# Setting type: Boolean
# Default value: false
hideDefault = true

## Cap for spawn commands.
# Setting type: Int32
# Default value: 20
spawnCap = 20

## Prefix for SimpleCommands
# Setting type: String
# Default value: /
commandPrefix = /

