## Settings file was created by plugin PinataScrap v1.0.6
## Plugin GUID: Kittenji.PinataScrap

[General]

## Defines the spawn rarity for the item.
# Setting type: Int32
# Default value: 10
Spawn Rate = 8

