## Settings file was created by plugin MapImprovements v0.9.8
## Plugin GUID: MapImprovements

[! Basics !]

## Turns the mod on.
# Setting type: Boolean
# Default value: true
Enable Map Improvements = true

## Enabled: Object can spawn.
## Diabled: Object cannot spawn.
## Always: Object always spawns.
## Never: Object can only be spawned when Combined/Randomed from another Object.
## Combine A/B/C: Spawns Object A/B/C too.
## CombineAll: Spawns all other Objects.
## Random A/B/C: 50% to spawn Object A/B/C too.
## RandomAny: 50% to spawn any other Object.
## RandomAll: 50% chance to spawn each other Object
# Setting type: Setting
# Default value: Enabled
# Acceptable values: Enabled, Disabled, Always, Never, RandomA, RandomB, RandomC, RandomAny, RandomAll, CombineA, CombineB, CombineC, CombineAll
Guide to Dropdown: = RandomAll

[Adamance]

## Enable improvements spawning on Adamance
# Setting type: Boolean
# Default value: true
Enabled = true

## Adds chance for the original Adamance to spawn.
# Setting type: Boolean
# Default value: true
Vanilla = true

## Overrides the individual settings and gives even odds to every possible combination. Disable Vanilla if you do not want to include it.
# Setting type: Boolean
# Default value: false
Flat Odds = false

## Adds in unique mineshaft environmental details to differentiate it from other forest moons.
# Setting type: Setting
# Default value: RandomAll
# Acceptable values: Enabled, Disabled, Always, Never, RandomA, RandomB, RandomC, RandomAny, RandomAll, CombineA, CombineB, CombineC, CombineAll
Adamance A = RandomAll

## Adds in easier pathing to and from the Fire Exit while also adjusting it slightly.
# Setting type: Setting
# Default value: RandomAll
# Acceptable values: Enabled, Disabled, Always, Never, RandomA, RandomB, RandomC, RandomAny, RandomAll, CombineA, CombineB, CombineC, CombineAll
Adamance B = RandomAll

## Adds in a new Fire Exit and environmental detailing on the left side of the ship landing area.
# Setting type: Setting
# Default value: RandomAll
# Acceptable values: Enabled, Disabled, Always, Never, RandomA, RandomB, RandomC, RandomAny, RandomAll, CombineA, CombineB, CombineC, CombineAll
Adamance C = RandomAll

Adamance = RandomAny

Adamance_1 = RandomAny

Adamance_2 = RandomAny

[Artifice]

## Enable improvements spawning on Artifice
# Setting type: Boolean
# Default value: true
Enabled = true

## Adds chance for the original Artifice to spawn.
# Setting type: Boolean
# Default value: true
Vanilla = true

## Overrides the individual settings and gives even odds to every possible combination. Disable Vanilla if you do not want to include it.
# Setting type: Boolean
# Default value: false
Flat Odds = false

## Allows access to the 4th warehouse. Adjusts the dropship position. Adds in more nodes for AI pathfinding.
# Setting type: Setting
# Default value: Always
# Acceptable values: Enabled, Disabled, Always, Never, RandomA, RandomB, RandomC, RandomAny, RandomAll, CombineA, CombineB, CombineC, CombineAll
Artifice A = RandomAll

## Adds in a warehouse for the ship to land in.
# Setting type: Setting
# Default value: RandomC
# Acceptable values: Enabled, Disabled, Always, Never, RandomA, RandomB, RandomC, RandomAny, RandomAll, CombineA, CombineB, CombineC, CombineAll
Artifice B = RandomAll

## Adds in large bodies of water and dams, with a new Fire exit behind the ship.
# Setting type: Setting
# Default value: RandomB
# Acceptable values: Enabled, Disabled, Always, Never, RandomA, RandomB, RandomC, RandomAny, RandomAll, CombineA, CombineB, CombineC, CombineAll
Artifice C = RandomAll

Artifice = RandomAny

Artifice_1 = RandomAny

Artifice_2 = RandomAny

[Assurance]

## Enable improvements spawning on Assurance
# Setting type: Boolean
# Default value: true
Enabled = true

## Adds chance for the original Assurance to spawn.
# Setting type: Boolean
# Default value: true
Vanilla = true

## Overrides the individual settings and gives even odds to every possible combination. Disable Vanilla if you do not want to include it.
# Setting type: Boolean
# Default value: false
Flat Odds = false

## Modifies the Main Entrance buidling, allowing access to the pipe to the Fire Exit through a bit of parkour.
# Setting type: Setting
# Default value: RandomAll
# Acceptable values: Enabled, Disabled, Always, Never, RandomA, RandomB, RandomC, RandomAny, RandomAll, CombineA, CombineB, CombineC, CombineAll
Assurance A = RandomAll

## Adds in a new Fire Exit and more environmental detailing.
# Setting type: Setting
# Default value: RandomAll
# Acceptable values: Enabled, Disabled, Always, Never, RandomA, RandomB, RandomC, RandomAny, RandomAll, CombineA, CombineB, CombineC, CombineAll
Assurance B = RandomAll

## Removes rocks to create a path for the Cruiser to get to the Main Entrance.
# Setting type: Setting
# Default value: RandomAll
# Acceptable values: Enabled, Disabled, Always, Never, RandomA, RandomB, RandomC, RandomAny, RandomAll, CombineA, CombineB, CombineC, CombineAll
Assurance C = Always

Assurance = RandomAny

Assurance_1 = RandomAny

Assurance_2 = RandomAny

[Basics]

Enable Map Improvements = true

Guide to Dropdown: = RandomAny

[Dine]

## Enable improvements spawning on Dine
# Setting type: Boolean
# Default value: true
Enabled = true

## Adds chance for the original Dine to spawn.
# Setting type: Boolean
# Default value: true
Vanilla = true

## Overrides the individual settings and gives even odds to every possible combination. Disable Vanilla if you do not want to include it.
# Setting type: Boolean
# Default value: false
Flat Odds = false

## Adds in fences around the edges, with holes to allow for escaping Giants. Adjusts the Main entrance area to prevent Giants loitering.
# Setting type: Setting
# Default value: Always
# Acceptable values: Enabled, Disabled, Always, Never, RandomA, RandomB, RandomC, RandomAny, RandomAll, CombineA, CombineB, CombineC, CombineAll
Dine A = RandomAll

## Expands on the facility building, adding a new Fire exit on top, with additional fences and pipes.
# Setting type: Setting
# Default value: RandomC
# Acceptable values: Enabled, Disabled, Always, Never, RandomA, RandomB, RandomC, RandomAny, RandomAll, CombineA, CombineB, CombineC, CombineAll
Dine B = RandomAll

## Adds in a new Fire exit only accessible via jumping off the ship early, similar to Offense.
# Setting type: Setting
# Default value: RandomB
# Acceptable values: Enabled, Disabled, Always, Never, RandomA, RandomB, RandomC, RandomAny, RandomAll, CombineA, CombineB, CombineC, CombineAll
Dine C = RandomAll

Dine = RandomAny

Dine_1 = RandomAny

Dine_2 = RandomAny

[Embrion]

## Enable improvements spawning on Embrion
# Setting type: Boolean
# Default value: true
Enabled = true

## Adds chance for the original Embrion to spawn.
# Setting type: Boolean
# Default value: true
Vanilla = true

## Overrides the individual settings and gives even odds to every possible combination. Disable Vanilla if you do not want to include it.
# Setting type: Boolean
# Default value: false
Flat Odds = false

## Integrates the Main entrance and Fire exit buildings into the environment better.
# Setting type: Setting
# Default value: RandomAll
# Acceptable values: Enabled, Disabled, Always, Never, RandomA, RandomB, RandomC, RandomAny, RandomAll, CombineA, CombineB, CombineC, CombineAll
Embrion A = RandomAny

## Adds a new Fire exit to the left of Main entrance.
# Setting type: Setting
# Default value: RandomAny
# Acceptable values: Enabled, Disabled, Always, Never, RandomA, RandomB, RandomC, RandomAny, RandomAll, CombineA, CombineB, CombineC, CombineAll
Embrion B = RandomAny

## Expands the play area, adds more AI nodes, and adds a Fire Exit behind the facility.
# Setting type: Setting
# Default value: RandomAny
# Acceptable values: Enabled, Disabled, Always, Never, RandomA, RandomB, RandomC, RandomAny, RandomAll, CombineA, CombineB, CombineC, CombineAll
Embrion C = RandomAny

[Experimentation]

## Enable improvements spawning on Experimentation
# Setting type: Boolean
# Default value: true
Enabled = true

## Adds chance for the original Experimentation to spawn.
# Setting type: Boolean
# Default value: true
Vanilla = true

## Overrides the individual settings and gives even odds to every possible combination. Disable Vanilla if you do not want to include it.
# Setting type: Boolean
# Default value: false
Flat Odds = false

## Moves the Main Entrance back into the unused facility from v4.
# Setting type: Setting
# Default value: RandomAll
# Acceptable values: Enabled, Disabled, Always, Never, RandomA, RandomB, RandomC, RandomAny, RandomAll, CombineA, CombineB, CombineC, CombineAll
Experimentation A = Disabled

## Fills the hole in the back of the alleyway with a fire exit.
# Setting type: Setting
# Default value: RandomAll
# Acceptable values: Enabled, Disabled, Always, Never, RandomA, RandomB, RandomC, RandomAny, RandomAll, CombineA, CombineB, CombineC, CombineAll
Experimentation B = RandomAll

## Creates a pathway for the cruiser, as well as enemies.
# Setting type: Setting
# Default value: RandomAll
# Acceptable values: Enabled, Disabled, Always, Never, RandomA, RandomB, RandomC, RandomAny, RandomAll, CombineA, CombineB, CombineC, CombineAll
Experimentation C = Always

[Gordion]

## Enable improvements spawning on Gordion
# Setting type: Boolean
# Default value: true
Enabled = true

## Adds chance for the original Gordion to spawn.
# Setting type: Boolean
# Default value: true
Vanilla = true

## Overrides the individual settings and gives even odds to every possible combination. Disable Vanilla if you do not want to include it.
# Setting type: Boolean
# Default value: false
Flat Odds = false

## Recieves more shipments, with some of them being open. Great for playing hide and seek with friends, while also limiting the area with walls.
# Setting type: Setting
# Default value: Always
# Acceptable values: Enabled, Disabled, Always, Never, RandomA, RandomB, RandomC, RandomAny, RandomAll, CombineA, CombineB, CombineC, CombineAll
Company Building A = RandomAll

## Removes some shipping containers for easy driving of the Company Cruiser.
# Setting type: Setting
# Default value: RandomC
# Acceptable values: Enabled, Disabled, Always, Never, RandomA, RandomB, RandomC, RandomAny, RandomAll, CombineA, CombineB, CombineC, CombineAll
Company Building B = RandomAll

## Secret drill :)
# Setting type: Setting
# Default value: RandomB
# Acceptable values: Enabled, Disabled, Always, Never, RandomA, RandomB, RandomC, RandomAny, RandomAll, CombineA, CombineB, CombineC, CombineAll
Company Building C = RandomAll

CompanyBuilding = RandomAny

CompanyBuilding_1 = RandomAny

[March]

## Enable improvements spawning on March
# Setting type: Boolean
# Default value: true
Enabled = true

## Adds chance for the original March to spawn.
# Setting type: Boolean
# Default value: true
Vanilla = true

## Overrides the individual settings and gives even odds to every possible combination. Disable Vanilla if you do not want to include it.
# Setting type: Boolean
# Default value: false
Flat Odds = false

## Expands the multiple facilities to make them more obvious.
# Setting type: Setting
# Default value: RandomAll
# Acceptable values: Enabled, Disabled, Always, Never, RandomA, RandomB, RandomC, RandomAny, RandomAll, CombineA, CombineB, CombineC, CombineAll
March A = RandomAll

## Adds more to the environment & cabins to hide from Giants.
# Setting type: Setting
# Default value: RandomAny
# Acceptable values: Enabled, Disabled, Always, Never, RandomA, RandomB, RandomC, RandomAny, RandomAll, CombineA, CombineB, CombineC, CombineAll
March B = RandomAll

## Adds to March's hilly terrain with cliffs, as well as a Fire Exit across the lake in the back right of the map.
# Setting type: Setting
# Default value: RandomAll
# Acceptable values: Enabled, Disabled, Always, Never, RandomA, RandomB, RandomC, RandomAny, RandomAll, CombineA, CombineB, CombineC, CombineAll
March C = RandomAll

[Offense]

## Enable improvements spawning on Offense
# Setting type: Boolean
# Default value: true
Enabled = true

## Adds chance for the original Offense to spawn.
# Setting type: Boolean
# Default value: true
Vanilla = true

## Overrides the individual settings and gives even odds to every possible combination. Disable Vanilla if you do not want to include it.
# Setting type: Boolean
# Default value: false
Flat Odds = false

## Adds in more to far side of the map and a new Fire Exit.
# Setting type: Setting
# Default value: Enabled
# Acceptable values: Enabled, Disabled, Always, Never, RandomA, RandomB, RandomC, RandomAny, RandomAll, CombineA, CombineB, CombineC, CombineAll
Offense A = Enabled

## Expands the map behind the Facility with a new Fire Exit.
# Setting type: Setting
# Default value: RandomAll
# Acceptable values: Enabled, Disabled, Always, Never, RandomA, RandomB, RandomC, RandomAny, RandomAll, CombineA, CombineB, CombineC, CombineAll
Offense B = Enabled

## Adds more decor & parkour to the Fire Exit. Fixes navigation areas for Giants.
# Setting type: Setting
# Default value: RandomAll
# Acceptable values: Enabled, Disabled, Always, Never, RandomA, RandomB, RandomC, RandomAny, RandomAll, CombineA, CombineB, CombineC, CombineAll
Offense C = Enabled

[Vow]

## Enable improvements spawning on Vow
# Setting type: Boolean
# Default value: true
Enabled = true

## Adds chance for the original Vow to spawn.
# Setting type: Boolean
# Default value: true
Vanilla = true

## Overrides the individual settings and gives even odds to every possible combination. Disable Vanilla if you do not want to include it.
# Setting type: Boolean
# Default value: false
Flat Odds = false

## Expands the Facility building, adding in a new area with Fire Exit through the alleyway.
# Setting type: Setting
# Default value: Always
# Acceptable values: Enabled, Disabled, Always, Never, RandomA, RandomB, RandomC, RandomAny, RandomAll, CombineA, CombineB, CombineC, CombineAll
Vow A = RandomAll

## The river has dried up, leaving behind a valley with trees and rocks. The dam has been replaced with another breakable bridge, and the Fire Exit has been moved to the right end of the Facility.
# Setting type: Setting
# Default value: RandomC
# Acceptable values: Enabled, Disabled, Always, Never, RandomA, RandomB, RandomC, RandomAny, RandomAll, CombineA, CombineB, CombineC, CombineAll
Vow B = RandomAll

## Adds in a new facility building right behind the ship, with a Fire Exit that has been flooded.
# Setting type: Setting
# Default value: RandomB
# Acceptable values: Enabled, Disabled, Always, Never, RandomA, RandomB, RandomC, RandomAny, RandomAll, CombineA, CombineB, CombineC, CombineAll
Vow C = RandomAll

Vow = RandomAny

Vow_1 = RandomAny

Vow_2 = RandomAny

