## Settings file was created by plugin Habitat Interior v1.2.0
## Plugin GUID: mborsh.HabitatIntreior

[Habitat Apparatus Config Options]

## Whether Habitat Apparatus Config is enabled.
# Setting type: Boolean
# Default value: true
Enabled = true

## Whether you're allowed to edit the config entries for Habitat Apparatus.
# Setting type: Boolean
# Default value: false
Habitat Apparatus | Allow Editing Config = false

## Preset moon weights for Habitat Apparatus.
# Setting type: String
# Default value: 
Habitat Apparatus | Preset Moon Weights = 

## Preset interior weights for Habitat Apparatus.
# Setting type: String
# Default value: 
Habitat Apparatus | Preset Interior Weights = 

## Preset weather weights for Habitat Apparatus.
# Setting type: String
# Default value: 
Habitat Apparatus | Preset Weather Weights = 

## Preset route weights for Habitat Apparatus.
# Setting type: String
# Default value: 
Habitat Apparatus | Preset Route Weights = 

[Habitat Interior Spawn Weight Config Options]

## Whether Habitat Interior Spawn Weight Config is enabled.
# Setting type: Boolean
# Default value: true
Enabled = true

## Whether you're allowed to edit the config entries for HabitatDungeonFlow.
# Setting type: Boolean
# Default value: false
HabitatDungeonFlow | Allow Editing Config = false

## Preset moon weights for HabitatDungeonFlow.
# Setting type: String
# Default value: lethal_company:all=+30,lethal_company:cold=+50,lethal_company:hot=+50,lethal_company:natural=+50,lethal_company:desert=+50,lethal_company:tundra=+50,lethal_company:experimentation=+250,lethal_company:offense=+200,lethal_company:titan=+200,lethal_company:march=+225,lethal_company:vow=+225,magic_wesleys_mod:asteroidonethree=+250,noctis:noctis=+100,magic_wesleys_mod:faith=+300,magic_wesleys_mod:polarus=+175,magic_wesleys_mod:etern=+150,magic_wesleys_mod:fission=+125,magic_wesleys_mod:empra=+125,magic_wesleys_mod:utril=+200
HabitatDungeonFlow | Preset Moon Weights = lethal_company:all=+30,lethal_company:cold=+50,lethal_company:hot=+50,lethal_company:natural=+50,lethal_company:desert=+50,lethal_company:tundra=+50,lethal_company:experimentation=+250,lethal_company:offense=+200,lethal_company:titan=+200,lethal_company:march=+225,lethal_company:vow=+225,magic_wesleys_mod:asteroidonethree=+250,noctis:noctis=+100,magic_wesleys_mod:faith=+300,magic_wesleys_mod:polarus=+175,magic_wesleys_mod:etern=+150,magic_wesleys_mod:fission=+125,magic_wesleys_mod:empra=+125,magic_wesleys_mod:utril=+200

## Preset weather weights for HabitatDungeonFlow.
# Setting type: String
# Default value: 
HabitatDungeonFlow | Preset Weather Weights = 

## Preset route weights for HabitatDungeonFlow.
# Setting type: String
# Default value: 
HabitatDungeonFlow | Preset Route Weights = 

## Extra scrap generation for HabitatDungeonFlow.
# Setting type: Int32
# Default value: 8
HabitatDungeonFlow | Extra Scrap Generation = 8

## Dungeon range clamp for HabitatDungeonFlow.
# Setting type: BoundedRange
# Default value: 0.8,1.2
HabitatDungeonFlow | Dungeon Range Clamp = 0.8,1.2

## Chance for the lamp or bulb not to work.
# Setting type: Single
# Default value: 20
Lamp disable chance = 20

## Enable forcefields in habitats
# Setting type: Boolean
# Default value: true
Enable forcefields = true

