## Settings file was created by plugin Melanie Melicious - 2 sToRy ShIp v2.2.14
## Plugin GUID: MelanieMelicious.2StoryShip

[Navmesh]

## Overwrite listed moons to regenerate navmesh.
# Setting type: String
# Default value: example1,example2
Navmesh Regen Whitelist = Gordion,Galetry,Oxyde,Repress,Bilge,Afundus,Assurance,Attenuation,Experimentation,Hyve,Offense,Retinue,Adamance,March,Monarch,Volition,Vow,Wither,Zeranos,Dine,Gextradus,Reign,Rend,Tauralis,Titan,Detritus,Dreck,Embrion,Synthesis,Vacuity,Fortress,Artifice,Arcadia,Ascension,Core,Desolation,Ferangdalion,Kast

## Overwrite listed moons to not regenerate navmesh.
# Setting type: String
# Default value: 62 Lithium,42 Cosmocos,25 Fission-C
Navmesh Regen Blacklist = 62 Lithium

## Should this mod force enemy navmesh regeneration when vanilla doesn't? (May cause significantly longer moon loading on land, when activated.)
# Setting type: Boolean
# Default value: false
Navmesh Regen Default = true

## Toggles janky fix for enemies being unable to reach certain areas with the wider 2-story ship (more balanced, potentially less immersive).
# Setting type: Boolean
# Default value: false
Inner Balcony Nerf = false

## Adjust enemies able to climb towards the roof.
# Setting type: navArea
# Default value: Default
# Acceptable values: Default, AllEnemies, SomeEnemies, NoEnemies
Enemy Ladder Climbing = Default

[Ship Expansion]

## Toggles the addition of a third floor! (crazy)
# Setting type: Boolean
# Default value: false
Enable Third Floor = false

## Toggles extending the front catwalk. (Outside decoration WOW!)
# Setting type: Boolean
# Default value: false
Enable Extended Front Porch = false

## I AM NOT RESPONSIBLE FOR ANY SYSTEM OVERHEATS OR OTHER ISSUES IF YOU DECIDE TO PUT INTEGER LIMIT. Only works with third floor enabled. Toggle how many extra floors, past the 3-story ship, is added.
# Setting type: Int32
# Default value: 0
INFINITE STORY SHIP (requires 3rd story enabled) = 0

[Ship Setup]

## Config to move magnet connection point relative to original (negatives for further, positives for closer). Can prevent wider vehicles from getting as easily stuck in ship.
# Setting type: Single
# Default value: 0
Move Magnet Connection = 0

# Setting type: Boolean
# Default value: false
Always Override Door Panel Transform = false

# Setting type: Single
# Default value: -3.42
Door Panel Position X = -3.42

# Setting type: Single
# Default value: 2.2
Door Panel Position Y = 2.2

# Setting type: Single
# Default value: -4.25
Door Panel Position Z = -4.4

# Setting type: Single
# Default value: 90
Door Panel Rotation X = 90

# Setting type: Single
# Default value: 0
Door Panel Rotation Y = 0

# Setting type: Single
# Default value: 0
Door Panel Rotation Z = 0

Door Buttons Position X = -3.42

Door Buttons Position Y = 2.2

Door Buttons Position Z = -4.4

Door Buttons Rotation X = 90

Door Buttons Rotation Y = 0

Door Buttons Rotation Z = 0

[Ship Style]

## Change which model the 'detail' section of ship uses. Client-sided.
# Setting type: style
# Default value: Default
# Acceptable values: Default, Mansion
Ship Model = Default

## Change which model the window frames of ship use. Client-sided.
# Setting type: style
# Default value: Default
# Acceptable values: Default, Mansion
Window Frame Model = Default

## Change which model the inner rails of ship use. Client-sided.
# Setting type: style
# Default value: Default
# Acceptable values: Default, Mansion
Inner Rail Model = Default

## Change the ship hull texture. Client-sided.
# Setting type: mat
# Default value: Hull
# Acceptable values: Hull, Metal, MetalTile, Rail, Wood, WoodPlank, Rubber, Grate, Glass, Invis
Hull Material = Hull

## Change the ship catwalk texture. Client-sided.
# Setting type: mat
# Default value: Grate
# Acceptable values: Hull, Metal, MetalTile, Rail, Wood, WoodPlank, Rubber, Grate, Glass, Invis
Catwalk Material = Grate

## Change the ship door frame texture. Client-sided.
# Setting type: mat
# Default value: Rubber
# Acceptable values: Hull, Metal, MetalTile, Rail, Wood, WoodPlank, Rubber, Grate, Glass, Invis
Door Frame Material = Rubber

## Change the 1st and 2nd-story floor texture. Client-sided.
# Setting type: mat
# Default value: MetalTile
# Acceptable values: Hull, Metal, MetalTile, Rail, Wood, WoodPlank, Rubber, Grate, Glass, Invis
1st and 2nd-Story Floor Material = MetalTile

## Change the 3rd-story floor texture. Client-sided.
# Setting type: mat
# Default value: MetalTile
# Acceptable values: Hull, Metal, MetalTile, Rail, Wood, WoodPlank, Rubber, Grate, Glass, Invis
3rd-Story Floor Material = MetalTile

## Change the 1st and 2nd-story wall texture. Client-sided.
# Setting type: mat
# Default value: Metal
# Acceptable values: Hull, Metal, MetalTile, Rail, Wood, WoodPlank, Rubber, Grate, Glass, Invis
1st and 2nd-Story Wall Material = Metal

## Change the 3rd-story wall texture. Client-sided.
# Setting type: mat
# Default value: Metal
# Acceptable values: Hull, Metal, MetalTile, Rail, Wood, WoodPlank, Rubber, Grate, Glass, Invis
3rd-Story Wall Material = Metal

## Customize ship light colors. Client-sided.
# Setting type: String
# Default value: #ffffff
Light Colors = #a3a3a3

## Customize ship map icon color. Client-sided.
# Setting type: String
# Default value: #63FF5A
Ship Map Icon Color = #f0b584

Ship Tag = Hull

[Wider + 2-Story Exclusive]

## Change which interior floor and wall layout the ship uses.
# Setting type: layout
# Default value: Default
# Acceptable values: Default, Legacy
Ship Layout = Default

## Toggle between full floor or open floor for second story.
# Setting type: Boolean
# Default value: false
2nd Story Full Floor = false

[Windows]

## Toggles front window. Overwritten if ShipWindows enabled.
# Setting type: Boolean
# Default value: true
Enable Front Window = true

## Toggles right windows. Overwritten if ShipWindows enabled.
# Setting type: Boolean
# Default value: true
Enable Right Windows = true

## Toggles left windows. Overwritten if ShipWindows enabled.
# Setting type: Boolean
# Default value: true
Enable Left Windows = true

## Toggles front window on the third floor.
# Setting type: Boolean
# Default value: true
Enable Third-Floor Floor Window = true

## Toggles front window on the third floor. Overwritten if ShipWindows enabled.
# Setting type: Boolean
# Default value: true
Enable Third-Floor Front Window = true

## Toggles Left window on the third floor. Overwritten if ShipWindows enabled.
# Setting type: Boolean
# Default value: true
Enable Third-Floor Left Window = true

