[`Cheats`]

Use Beta Item Weight Calculation = false

Whistle Makes Noise At Noice Zone = false

Dont Make Audible Noises = false

Pikmin Signal Cooldown = -1

No Knock Back = false

Invinceable Pikmin = false

Useless Blues Mode = false

Max Whistle Zone Radius = -1

Max Whistle Zone Distance = -1

Player Notice Zone Size = -1

Pikmin Damage Multiplier = -1

Pikmin Speed Multiplier = -1

Dont Remove Save After Fire = false

[Advanced]

Use Commas In Vector Configs = false

Navmesh Check Blacklist = 

Check Navmesh = true

Generate Pikmin Configs = false

Use ModDataLib = true

[Appearances]

Pikmin Scale = 1

Sprout Scale = 1

Whistle Sound Index = 0

Big Eyes Enabled = false

Pikmin Scan Node Color Type = Enemy

[Controls]

Throw Button = <Keyboard>/r

Throw Cancel Button = <Keyboard>/q

Switch Forward Button = <Keyboard>/3

Switch Backwards Button (hold) = <Keyboard>/2

Whistle Button = <Mouse>/leftButton

Dismiss Button = <Mouse>/middleButton

Switch Whistle Sound Button = <Keyboard>/]

Charge Button = <Keyboard>/4

Glowmob Button (hold) = <Keyboard>/4

Onion Menu 10-withdraw Button = <Keyboard>/shift

[Enemy Behavior]

Use Enemy Configs = false

Barber Snip Cooldown = 1

Barber Snip Limit = 3

Thumper Bite Cooldown = 2

Thumper Bite Limit = 3

Bunker Spider Bite Cooldown = 3.5

Bunker Spider Bite Limit = 2

Hoarding Bug Bite Cooldown = 3

Hoarding Bug Bite Limit = 1

Hoarding Bug Aggro When Item Taken = true

Eyeless Dog Bite Cooldown = 5.5

Eyeless Dog Bite Limit = 7

Hydrogere Traps Pikmin = true

Hydrogere Kills Pikmin = false

Circuit Bees Zap Cooldown = 0.25

Circuit Bees Zap Pikmin = true

Circuit Bees Kill Pikmin = false

Maneater Bite Cooldown = 1

Maneater Bite Limit = 7

Maneater Allow Carry = true

Maneater Attack As Baby = false

Old Bird Grab Limit = 10

Old Bird Grabs Pikmin = true

Forest Keeper Grab Limit = 25

Forest Keeper Grabs Pikmin = true

Jester Bite Cooldown = 5

Jester Bite Limit = 10

Butler Stab Cooldown = 1

Butler Stab Limit = 1

Baboon Hawk Bite Cooldown = 1.5

Masked Player Enemy Convert Pikmin = true

Puffer Can Poison Pikmin = true

Company Grabs Pikmin = true

Company Hears Pikmin = false

[Funi]

Yeet After Latch On = false

Randomize Generation Models = false

Add Collision To Ghost Sprites = false

Funi Onion = false

Giant Whistle With Pikmin Signal = false

[General]

Max Pikmin = 100

Friendly Fire = false

Skip Pluck Animation = false

Whistle Volume = 1

Allow Onions To Revive Players = true

Allow Onions To Revive Masked Players = true

Allow Onion Fusing = true

Convert Enemy Bodies To Items = true

Show Onions In Space = true

Space Onion Position = -5 0 20

Dont Update Space Onion Position = false

Make Items Scanable = true

Make Pikmin Scanable = true

Trigger Landmines = true

Global Ghost SFX = true

Hide Custom Reports With More Players = true

Pikmin Die In Player Death Zones = false

Take Items From Pikmin = false

[Generations]

Default Generation = Pikmin4

Pikmin Model Generation = Default

Sprout Model Generation = Default

Pikmin Sound Generation = Default

Soul Sprite Generation = Default

Onion Model Generation = Default

Onion Item Model Generation = Default

Puffmin Generation = Default

[Glow Pikmin]

Activate Time = 660

Activate Distance = 20

Spawn Chance = 0.45

Spawn After Days = 6

Odds To Turn Into Seed = 0.3

Useable At Company = true

[HUD]

## (Local) The layout preset for the Pikmin HUD elements
# Setting type: HUDLayoutPresets
# Default value: Default
# Acceptable values: Default, Legacy, Simplifyed, VRHands, VRFace
HUD Layout Preset = Default

Pikmin Selection Position = 0 -120 28

Pikmin Selection Rotation = 0 0 0

Pikmin Selection Scale = 1

Pikmin Selection Alpha = 1

Enable Current Slot = true

Enable Next Slot = true

Enable Previous Slot = true

Pikmin Counter Position = 8 -225 0

Pikmin Counter Rotation = 0 0 0

Pikmin Counter Scale = 1

Pikmin Counter Alpha Active = 1

Pikmin Counter Alpha Idle = 0.15

Enable Pikmin In Existence Counter = true

Enable Pikmin In Squad Counter = true

Enable Pikmin In Field Counter = true

Hide Selected When Scan Notification = true

Dont Update Hud Configs = false

Grayout Buttons In Onion HUD = true

[Imperium]

Dont Do Audible Noise Calculations For Pikmin = true

Dont Resimulate Oracle On Pikmin Death = true

Remove Puffmin From Spawn Search = true

[Items]

Whistle Price = 15

Ship Onion Price = 251

PluckaPhone Price = 150

Ship Whistle Price = 100

Is Whistle Conductive = false

[LC-Office]

Add NavLink To LC-Office Third Floor = true

Block Enemies From Entering Third Floor Office = true

Allow Metal Detector To Zap = true

[LCVR]

Auto Set Hud Preset = true

Dont Use Input Utils For VR = true

Disable Sprout Interaction = false

Disable Whistle Fix = false

Onion HUD Z Distance = 100

Throw Button = <XRController>{RightHand}/triggerPressed

Secondary Throw Button = <XRController>{RightHand}/gripPressed

Switch Forward Button = <XRController>{LeftHand}/secondaryButton

Switch Backwards Button = 

Whistle Button = <XRController>{RightHand}/triggerPressed

Use Mouth to Dismiss = true

Dismiss Button = <XRController>{RightHand}/gripPressed

Switch Whistle Sound Button = 

Charge Button = <XRController>{RightHand}/gripPressed

Secondary Charge Button = <XRController>{LeftHand}/gripPressed

Disable Charge Motion Blur = true

Glowmob Button (hold) = <XRController>{LeftHand}/gripPressed

Glowmob Delay = true

Throw Cancel Button = 

[LethalMon]

Attack Own Tamed Enemies = false

Attack Others Tamed Enemies = false

[Pikmin]

Blue Pikmin = true

Bulbmin = true

Glow Pikmin = true

Ice Pikmin = true

Purple Pikmin = true

Red Pikmin = true

Rock Pikmin = true

White Pikmin = true

Winged Pikmin = true

Yellow Pikmin = true

[Pikmin Behavior]

Attack Blacklist = Docile Locust Bees,Manticoil,Red Locust Bees,Blob,Nemo,InternNPC,BellCrab,Nancy,Transporter,Janior,Peace Keeper,Guardsman,Tornado,FireStorm,Hurricane,Cabinet

Item Blacklist = 

Enemy Body Convert Blacklist = Flowerman,GiantKiwi

Carry Non-Scrap Items On Company = false

Can Path Outside When Inside = true

Follow Mode = LegacyBehind

Time Falling Fail Safe = 10

Take Items To Onion On Company = true

Take Items To The Car = true

Take Items To The Onion = true

Disperse When Dismissed = true

Allow On BoomBox to be Grabbed = false

Dismiss Windown Time = 2

Wild Pikmin Can Carry Items = false

Wild Pikmin Can Attack Enemies = true

Wild Pikmin Attack Does Damage = false

Wild Pikmin Dont Die = true

[Puffmin Behavior]

Turn To Normal On Death = false

[Spawning]

Indoor Pikmin Spawn Chance = 0.05

Outdoor Pikmin Spawn Chance = 0.35

Onion Spawn Chance = 0.45

Use LC Spawn System = true

Use Power Level For Sprouts = false

[WiderShipMod]

Make Custom Bounds For Wide Ship = true

[Zeranos]

Add NavLink to the ship on Zeranos = true

Block Enemies From Entering Zeranos Ship = true

Add NavLink to the Elevator on Zeranos = true

