## Settings file was created by plugin Welcome To Ooblterra v2.0.0
## Plugin GUID: SkullCrusher.WTO

[1. Debugging]

## Whether or not to write WTO's debug print-strings to the log.
# Setting type: Boolean
# Default value: false
Print Debug Strings = false

## Whether or not to write debug messages to the log. These are the lowest, most spammy logs.
# Setting type: Boolean
# Default value: false
Log Level Debug Messages = false

## Whether or not to write info messages to the log. General info logs that shouldn't be printed too often.
# Setting type: Boolean
# Default value: true
Log Level Info Messages = true

## Whether or not to write warning messages to the log. Warnings that are potentially errors or misconfigurations.
# Setting type: Boolean
# Default value: true
Log Level Warning Messages = true

## Whether or not to write error messages to the log. Errors that represent genuine problems that should not be happening.
# Setting type: Boolean
# Default value: true
Log Level Error Messages = true

## The filter to apply to the log. Only messages that match this RegEx filter will be printed. If empty, all messages will be printed. This is applied to the final log string, including class name.
# Setting type: String
# Default value: WTO
Log Filter = WTO

[2. Accessibility]

## Adjust the volume of 523 Ooblterra's custom footstep sound. Binds between 0 and 100.
# Setting type: Int32
# Default value: 100
Footstep Sounds = 100

## Adjust the volume of 523-Ooblterra's custom Time-Of-Day music. Binds between 0 and 100.
# Setting type: Int32
# Default value: 100
Music Volume = 100

[3. Ship Stuff]

## Whether or not to add WTO's custom suits.
# Setting type: Boolean
# Default value: true
Custom Suit Status = true

## Whether or not to add WTO's custom poster.
# Setting type: Boolean
# Default value: true
Visit Ooblterra Poster Status = true

[4. Map Hazards]

## A list of all of WTO's custom hazards to enable. Affects 523-Ooblterra, and also has influence on the settings below.
# Setting type: String
# Default value: SpikeTrap, TeslaCoil, BabyLurkerEgg, BearTrap
Custom Hazard List = SpikeTrap, TeslaCoil, BabyLurkerEgg, BearTrap

[5. Modpack Controls]

## Whether the Oobl Lab should always spawn with its own hazards, regardless of moon. See the wiki on Thunderstore for more information.
# Setting type: TiedToLabEnum
# Default value: WTOOnly
# Acceptable values: WTOOnly, AppendWTO, UseMoonDefault
Bind WTO Hazards to Oobl Lab = WTOOnly

## Whether the Oobl Lab should always spawn with its own inside enemies, regardless of moon. See the wiki on Thunderstore for more information.
# Setting type: TiedToLabEnum
# Default value: WTOOnly
# Acceptable values: WTOOnly, AppendWTO, UseMoonDefault
Bind WTO Inside Enemies to Oobl Lab = WTOOnly

## Whether the Oobl Lab should always spawn with 523 Ooblterra's outside enemies, regardless of moon. See the wiki on Thunderstore for more information.
# Setting type: TiedToLabEnum
# Default value: WTOOnly
# Acceptable values: WTOOnly, AppendWTO, UseMoonDefault
Bind WTO Outside Enemies to Oobl Lab = WTOOnly

## Whether the Oobl Lab should always spawn with 523 Ooblterra's daytime enemies, regardless of moon. See the wiki on Thunderstore for more information.
# Setting type: TiedToLabEnum
# Default value: WTOOnly
# Acceptable values: WTOOnly, AppendWTO, UseMoonDefault
Bind WTO Daytime Enemies to Oobl Lab = WTOOnly

## Whether the Oobl Lab should always spawn with its own scrap, regardless of moon. See the wiki on Thunderstore for more information.
# Setting type: TiedToLabEnum
# Default value: WTOOnly
# Acceptable values: WTOOnly, AppendWTO, UseMoonDefault
Bind WTO Scrap to Oobl Lab = WTOOnly

## For any setting configured to WTOAppend above, this setting multiplies that thing's weight before appending it to list.
# Setting type: Int32
# Default value: 1
WTOAppend Weight Scale = 1

[6. Testing]

## Whether or not to enable the test room teleporter in Ooblterra. This spawns a teleporter outside of the ship and spawns the test room.
# Setting type: Boolean
# Default value: false
Enable Test Room Teleporter = false

## The type of startup to use for the game. Leave this set to Normal. The other modes are for internal use only (e.g. for automated tools)
# Setting type: StartupType
# Default value: Normal
# Acceptable values: Normal, ContourMapRender
Startup Type = Normal

## When true, automatically routes to Ooblterra on game start.
# Setting type: Boolean
# Default value: false
Auto Route = false

[7. Contour Map Render]

## The file path to write the contour map file to when Startup Type is set to ContourMapRender
# Setting type: String
# Default value: contourmap.exr
Contour Map Write Path = contourmap.exr

