## Settings file was created by plugin Solace v4.0.0
## Plugin GUID: Starlancer.Solace

[SolaceConfig Options]

## Whether SolaceConfig is enabled.
# Setting type: Boolean
# Default value: true
Enabled = true

## Whether you're allowed to edit the config entries for 74 Solace.
# Setting type: Boolean
# Default value: false
74 Solace | Allow Editing Config = false

## Cost for 74 Solace in the shop.
# Setting type: Int32
# Default value: 0
74 Solace | Cost = 0

## Min/Max scrap for 74 Solace.
# Setting type: BoundedRange
# Default value: 12,14
74 Solace | Min/Max Scrap = 12,14

## Time multiplier for 74 Solace.
# Setting type: Single
# Default value: 1
74 Solace | Time Multiplier = 1

## Inside enemy power count for 74 Solace.
# Setting type: Int32
# Default value: 9
74 Solace | Inside Enemy Power Count = 9

## Outside enemy power count for 74 Solace.
# Setting type: Int32
# Default value: 8
74 Solace | Outside Enemy Power Count = 8

## Daytime enemy power count for 74 Solace.
# Setting type: Int32
# Default value: 10
74 Solace | Daytime Enemy Power Count = 10

## Inside enemy spawn range for 74 Solace.
# Setting type: Single
# Default value: 3
74 Solace | Inside Enemy Spawn Range = 3

## Outside enemy spawn range for 74 Solace.
# Setting type: Single
# Default value: 3
74 Solace | Outside Enemy Spawn Range = 3

## Daytime enemy spawn range for 74 Solace.
# Setting type: Single
# Default value: 10
74 Solace | Daytime Enemy Spawn Range = 10

## Inside enemy spawn curve for 74 Solace.
# Setting type: AnimationCurve
# Default value: 0.00, -3.00;0.11, -1.39;0.22, 2.41;0.33, 4.51;0.45, 5.17;0.56, 5.21;0.67, 5.46;0.78, 6.32;0.89, 11.91;1.00, 15.00
74 Solace | Inside Enemy Spawn Curve = 0.00, -3.00;0.11, -1.39;0.22, 2.41;0.33, 4.51;0.45, 5.17;0.56, 5.21;0.67, 5.46;0.78, 6.32;0.89, 11.91;1.00, 15.00

## Outside enemy spawn curve for 74 Solace.
# Setting type: AnimationCurve
# Default value: 0.00, -3.01;0.11, -2.65;0.22, -2.09;0.33, -1.11;0.44, -0.08;0.55, 0.04;0.67, 0.37;0.78, 1.46;0.89, 4.25;1.00, 4.99
74 Solace | Outside Enemy Spawn Curve = 0.00, -3.01;0.11, -2.65;0.22, -2.09;0.33, -1.11;0.44, -0.08;0.55, 0.04;0.67, 0.37;0.78, 1.46;0.89, 4.25;1.00, 4.99

## Daytime enemy spawn curve for 74 Solace.
# Setting type: AnimationCurve
# Default value: 0.00, 2.27;0.11, 1.86;0.22, 1.19;0.33, 0.19;0.44, -1.29;0.56, -3.62;0.67, -7.12;0.78, -11.01;0.89, -13.78;1.00, -14.82
74 Solace | Daytime Enemy Spawn Curve = 0.00, 2.27;0.11, 1.86;0.22, 1.19;0.33, 0.19;0.44, -1.29;0.56, -3.62;0.67, -7.12;0.78, -11.01;0.89, -13.78;1.00, -14.82

## Whether you're allowed to edit the config entries for SolaceScene.
# Setting type: Boolean
# Default value: false
SolaceScene | Allow Editing Config = false

