## Settings file was created by plugin Auralis v4.0.0
## Plugin GUID: Starlancer.Auralis

[AuralisConfig Options]

## Whether AuralisConfig is enabled.
# Setting type: Boolean
# Default value: true
Enabled = true

## Whether you're allowed to edit the config entries for 42 Auralis.
# Setting type: Boolean
# Default value: false
42 Auralis | Allow Editing Config = false

## Cost for 42 Auralis in the shop.
# Setting type: Int32
# Default value: 850
42 Auralis | Cost = 850

## Min/Max scrap for 42 Auralis.
# Setting type: BoundedRange
# Default value: 23,26
42 Auralis | Min/Max Scrap = 23,26

## Time multiplier for 42 Auralis.
# Setting type: Single
# Default value: 1
42 Auralis | Time Multiplier = 1

## Inside enemy power count for 42 Auralis.
# Setting type: Int32
# Default value: 20
42 Auralis | Inside Enemy Power Count = 20

## Outside enemy power count for 42 Auralis.
# Setting type: Int32
# Default value: 10
42 Auralis | Outside Enemy Power Count = 10

## Daytime enemy power count for 42 Auralis.
# Setting type: Int32
# Default value: 5
42 Auralis | Daytime Enemy Power Count = 5

## Inside enemy spawn range for 42 Auralis.
# Setting type: Single
# Default value: 4
42 Auralis | Inside Enemy Spawn Range = 4

## Outside enemy spawn range for 42 Auralis.
# Setting type: Single
# Default value: 3
42 Auralis | Outside Enemy Spawn Range = 3

## Daytime enemy spawn range for 42 Auralis.
# Setting type: Single
# Default value: 3
42 Auralis | Daytime Enemy Spawn Range = 3

## Inside enemy spawn curve for 42 Auralis.
# Setting type: AnimationCurve
# Default value: 0.00, -3.00;0.11, 0.43;0.22, 3.37;0.33, 4.13;0.45, 5.64;0.56, 6.94;0.67, 9.53;0.78, 12.62;0.89, 14.38;1.00, 15.00
42 Auralis | Inside Enemy Spawn Curve = 0.00, -3.00;0.11, 0.43;0.22, 3.37;0.33, 4.13;0.45, 5.64;0.56, 6.94;0.67, 9.53;0.78, 12.62;0.89, 14.38;1.00, 15.00

## Outside enemy spawn curve for 42 Auralis.
# Setting type: AnimationCurve
# Default value: 0.00, -2.89;0.11, -0.74;0.22, 1.00;0.33, 1.36;0.45, 2.91;0.56, 3.07;0.67, 3.83;0.78, 4.67;0.89, 4.93;1.00, 4.99
42 Auralis | Outside Enemy Spawn Curve = 0.00, -2.89;0.11, -0.74;0.22, 1.00;0.33, 1.36;0.45, 2.91;0.56, 3.07;0.67, 3.83;0.78, 4.67;0.89, 4.93;1.00, 4.99

## Daytime enemy spawn curve for 42 Auralis.
# Setting type: AnimationCurve
# Default value: 0.00, 2.27;0.11, 1.01;0.22, -0.33;0.33, -4.15;0.44, -9.63;0.56, -12.87;0.67, -14.43;0.78, -14.88;0.89, -14.81;1.00, -14.82
42 Auralis | Daytime Enemy Spawn Curve = 0.00, 2.27;0.11, 1.01;0.22, -0.33;0.33, -4.15;0.44, -9.63;0.56, -12.87;0.67, -14.43;0.78, -14.88;0.89, -14.81;1.00, -14.82

## Whether you're allowed to edit the config entries for AuralisScene.
# Setting type: Boolean
# Default value: false
AuralisScene | Allow Editing Config = false

