## Settings file was created by plugin Surfaced v1.7.1
## Plugin GUID: Surfaced

[Bell Crab Options]

## Whether Bell Crab is enabled.
# Setting type: Boolean
# Default value: true
Enabled = false

## The amount of damage you will take when a Bell Crab snips you.
# Setting type: Int32
# Default value: 10
Bell Crab Damage Value = 10

[Big Bertha Options]

## Whether Big Bertha is enabled.
# Setting type: Boolean
# Default value: true
Enabled = true

## Whether you're allowed to edit the config entries for Big Bertha.
# Setting type: Boolean
# Default value: false
Big Bertha | Allow Editing Config = false

## Whether Big Bertha is an inside hazard
# Setting type: Boolean
# Default value: true
Big Bertha | Is Inside Hazard = true

## Whether Big Bertha is an outside hazard
# Setting type: Boolean
# Default value: false
Big Bertha | Is Outside Hazard = false

## Whether Big Bertha should prioritise moon curves rather than interior curves when spawning inside.
# Setting type: Boolean
# Default value: true
Big Bertha | Inside Spawn Prioritise Moon = true

## Curve weights for Big Bertha when spawning inside using Moon weights.
# Setting type: String
# Default value: Vanilla - 0.00, 0.00 ; 1.00, 3.00 | Custom - 0.00, 0.00 ; 1.00, 3.00
Big Bertha | Inside Moon Spawn Weights = Vanilla - 0.00, 0.00 ; 1.00, 3.00 | Custom - 0.00, 0.00 ; 1.00, 3.00

## Curve weights for Big Bertha when spawning inside using Interior weights.
# Setting type: String
# Default value: 
Big Bertha | Inside Interior Spawn Weights = 

## The distance at which the explosion will kill you even though walls.
# Setting type: Single
# Default value: 17
Instakill through walls radius = 17

## The distance at which the explosion will kill you if you have line of sight with the bomb.
# Setting type: Single
# Default value: 45
Instakill Line of sight radius = 45

## The distance at which the explosion will knock you back if you have line of sight with the bomb.
# Setting type: Single
# Default value: 95
Knockback Radius = 95

## Should the explosion kill enemies?
# Setting type: Boolean
# Default value: true
Kill Enemies = true

## Force of the knockback from the explosion, if this number is too high, it will send players through the map.
# Setting type: Int32
# Default value: 750
Knockback force = 750

## How many seconds it takes for a bertha to explode
# Setting type: Single
# Default value: 5
Bertha Timer = 5

[Bruce Option]

## The small range will be activated if a player's health is below the number in this config.
# Setting type: Int32
# Default value: 80
Small Range, Health Threshold = 80

## How far Bruce will chase a player if their health is under the Small range threshold
# Setting type: Single
# Default value: 60
Small Detection Range = 60

## The Medium range will be activated if a player's health is below the number in this config.
# Setting type: Int32
# Default value: 50
Medium Range, Health Threshold = 50

## How far Bruce will chase a player if their health is under the Medium range threshold
# Setting type: Single
# Default value: 80
Medium Detection Range = 80

## The Big range will be activated if a player's health is below the number in this config.
# Setting type: Int32
# Default value: 20
Big Range, Health Threshold = 20

## How far Bruce will chase a player if their health is under the Big range threshold
# Setting type: Single
# Default value: 120
Big Detection Range = 120

## How far Bruce will follow a pickle on a stick
# Setting type: Single
# Default value: 16
Bruce Pickle Range = 16

## Make bruce blahajified
# Setting type: Boolean
# Default value: false
Bruce Blahajified = false

[Bruce Options]

## Whether Bruce is enabled.
# Setting type: Boolean
# Default value: true
Enabled = true

## Whether you're allowed to edit the config entries for Bruce.
# Setting type: Boolean
# Default value: false
Bruce | Allow Editing Config = false

## Preset moon weights for Bruce.
# Setting type: String
# Default value: Vanilla=+70, Custom=+70
Bruce | Preset Moon Weights = Vanilla=+70, Custom=+70

## Preset interior weights for Bruce.
# Setting type: String
# Default value: Facility=+0, Mansion=+0, Mineshaft=+0
Bruce | Preset Interior Weights = Facility=+0, Mansion=+0, Mineshaft=+0

## Preset weather weights for Bruce.
# Setting type: String
# Default value: None=*1, DustClouds=*1, Rainy=*1, Stormy=*1, Foggy=*1, Flooded=*1, Eclipsed=*1
Bruce | Preset Weather Weights = None=*1, DustClouds=*1, Rainy=*1, Stormy=*1, Foggy=*1, Flooded=*1, Eclipsed=*1

## Preset route weights for Bruce.
# Setting type: String
# Default value: 
Bruce | Preset Route Weights = 

## Power level for Bruce.
# Setting type: Single
# Default value: 3
Bruce | Power Level = 3

## Max spawn count for Bruce.
# Setting type: Int32
# Default value: 1
Bruce | Max Spawn Count = 1

## Whether you're allowed to edit the config entries for Blahuce.
# Setting type: Boolean
# Default value: false
Blahuce | Allow Editing Config = false

## Preset moon weights for Blahuce.
# Setting type: String
# Default value: Vanilla=+10, Custom=+10
Blahuce | Preset Moon Weights = Vanilla=+10, Custom=+10

## Preset interior weights for Blahuce.
# Setting type: String
# Default value: Facility=+0, Mansion=+0, Mineshaft=+0
Blahuce | Preset Interior Weights = Facility=+0, Mansion=+0, Mineshaft=+0

## Preset weather weights for Blahuce.
# Setting type: String
# Default value: None=*1, DustClouds=*1, Rainy=*1, Stormy=*1, Foggy=*1, Flooded=*1, Eclipsed=*1
Blahuce | Preset Weather Weights = None=*1, DustClouds=*1, Rainy=*1, Stormy=*1, Foggy=*1, Flooded=*1, Eclipsed=*1

## Preset route weights for Blahuce.
# Setting type: String
# Default value: 
Blahuce | Preset Route Weights = 

## Whether Blahuce is a scrap item.
# Setting type: Boolean
# Default value: true
Blahuce | Is Scrap = true

## How much Blahuce is worth when spawning.
# Setting type: BoundedRange
# Default value: 40,92
Blahuce | Value = 40,92

## Whether Blahuce is a shop item.
# Setting type: Boolean
# Default value: false
Blahuce | Is Shop Item = false

## Whether you're allowed to edit the config entries for Pickle On A Stick.
# Setting type: Boolean
# Default value: false
Pickle On A Stick | Allow Editing Config = false

## Preset moon weights for Pickle On A Stick.
# Setting type: String
# Default value: Vanilla=+0, Custom=+0, Valley=+0, Canyon=+0, Tundra=+0, Marsh=+0, Military=+0, Rocky=+0,Amythest=+0, Experimentation=+0, Assurance=+0, Vow=+0, Offense=+0, March=+0, Adamance=+0, Rend=+0, Dine=+0, Titan=+0, Artifice=+0, Embrion=+0
Pickle On A Stick | Preset Moon Weights = Vanilla=+0, Custom=+0, Valley=+0, Canyon=+0, Tundra=+0, Marsh=+0, Military=+0, Rocky=+0,Amythest=+0, Experimentation=+0, Assurance=+0, Vow=+0, Offense=+0, March=+0, Adamance=+0, Rend=+0, Dine=+0, Titan=+0, Artifice=+0, Embrion=+0

## Preset interior weights for Pickle On A Stick.
# Setting type: String
# Default value: Facility=+0, Mansion=+0, Mineshaft=+0
Pickle On A Stick | Preset Interior Weights = Facility=+0, Mansion=+0, Mineshaft=+0

## Preset weather weights for Pickle On A Stick.
# Setting type: String
# Default value: None=*1, DustClouds=*1, Rainy=*1, Stormy=*1, Foggy=*1, Flooded=*1, Eclipsed=*1
Pickle On A Stick | Preset Weather Weights = None=*1, DustClouds=*1, Rainy=*1, Stormy=*1, Foggy=*1, Flooded=*1, Eclipsed=*1

## Preset route weights for Pickle On A Stick.
# Setting type: String
# Default value: 
Pickle On A Stick | Preset Route Weights = 

## Whether Pickle On A Stick is a scrap item.
# Setting type: Boolean
# Default value: false
Pickle On A Stick | Is Scrap = false

## Whether Pickle On A Stick is a shop item.
# Setting type: Boolean
# Default value: true
Pickle On A Stick | Is Shop Item = true

## Cost for Pickle On A Stick in the shop.
# Setting type: Int32
# Default value: 400
Pickle On A Stick | Cost = 400

[Clown Horn Fish Options]

## How many hits it takes to kill the Doot doot fish.
# Setting type: Int32
# Default value: 2
ClownHornFish Health = 2

## Enable the ability to squeeze the Clownhorn fish
# Setting type: Boolean
# Default value: true
Enable Squeeze = true

## How many seconds, minimum it takes for the clownfish to buff
# Setting type: Int32
# Default value: 20
ClownHornFish Min Timer = 20

## How many seconds, maximum it takes for the clownfish to buff
# Setting type: Int32
# Default value: 60
ClownHornFish Max Timer = 60

## Chance for the clownhorn fish to give a debuff, goes from 0 to 100
# Setting type: Int32
# Default value: 15
ClownHornFish Debuff chance = 15

[Horse Options]

## Whether Horse is enabled.
# Setting type: Boolean
# Default value: true
Enabled = false

[Mantis Shrimp Options]

## Whether Mantis Shrimp is enabled.
# Setting type: Boolean
# Default value: true
Enabled = false

## The number of Mantis Shrimp that spawn along side the first one. This number + 1 = Total Shrimp.
# Setting type: Int32
# Default value: 1
Mantis Shrimp Spawn Group Size = 1

[Nemo Options]

## Whether Nemo is enabled.
# Setting type: Boolean
# Default value: true
Enabled = false

[Rodigo Options]

## Whether Rodigo is enabled.
# Setting type: Boolean
# Default value: true
Enabled = false

[Seamine  Options]

## Whether Seamine  is enabled.
# Setting type: Boolean
# Default value: true
Enabled = true

## Whether you're allowed to edit the config entries for Old Seamine.
# Setting type: Boolean
# Default value: false
Old Seamine | Allow Editing Config = false

## Whether Old Seamine is an inside hazard
# Setting type: Boolean
# Default value: true
Old Seamine | Is Inside Hazard = true

## Whether Old Seamine is an outside hazard
# Setting type: Boolean
# Default value: false
Old Seamine | Is Outside Hazard = false

## Whether Old Seamine should prioritise moon curves rather than interior curves when spawning inside.
# Setting type: Boolean
# Default value: true
Old Seamine | Inside Spawn Prioritise Moon = true

## Curve weights for Old Seamine when spawning inside using Moon weights.
# Setting type: String
# Default value: Vanilla - 0.00, 0.00 ; 1.00, 8.00 | Custom - 0.00, 0.00 ; 1.00, 8.00
Old Seamine | Inside Moon Spawn Weights = Vanilla - 0.00, 0.00 ; 1.00, 8.00 | Custom - 0.00, 0.00 ; 1.00, 8.00

## Curve weights for Old Seamine when spawning inside using Interior weights.
# Setting type: String
# Default value: 
Old Seamine | Inside Interior Spawn Weights = 

[Seamine Options]

## The min amount of seconds before a Seamine beeps.
# Setting type: Int32
# Default value: 10
Seamine Sound Minimum Time = 10

## The max amount of seconds before a Seamine beeps.
# Setting type: Int32
# Default value: 15
Seamine Sound Maximum Time = 15

[Super Scary Mode Options]

## The min amount of seconds before Scary spooks.
# Setting type: Int32
# Default value: 10
Scary Minimum sound time = 10

## The max amount of seconds before a Scary spooks.
# Setting type: Int32
# Default value: 30
Scary Maximum sound time = 30

[Super Scary Options]

## Whether Super Scary is enabled.
# Setting type: Boolean
# Default value: true
Enabled = false

[Urchin Options]

## Whether Urchin is enabled.
# Setting type: Boolean
# Default value: true
Enabled = false

## Growth per second. Default value results in a split every 2 minutes. Double it for 1 minute. Halve it for 4 minutes. Default:0.025
# Setting type: Single
# Default value: 0.025
Urchin Growth Rate = 0.025

## Urchin Maximum Size to reach before splitting.
# Setting type: Single
# Default value: 7
Urchin Max Growth = 7

## Urchin Minimum Size to reach before splitting.
# Setting type: Single
# Default value: 4
Urchin Min Growth = 4

## Expands the Ship Bounds Urchins consider when picking a destination. Urchins are not allowed to pick a destination within the ship bounds. Will NOT prevent them from pathing thru to get to their destination or pushing each other inside the bounds. Expanding this should lessen the speed at which they swarm the ship. Default:2.0
# Setting type: Single
# Default value: 2
Urchin Ship Bounds in Meters = 2

## If True, Urchins will be more aggressive and target players more leading to more clumping behaviour.
# Setting type: Boolean
# Default value: true
Urchin Aggressive = true

