## Settings file was created by plugin GrizzCompany-Items v1.0.4
## Plugin GUID: SylviBlossom.GrizzCompany-Items

[ScrapCannon]

## Whether the Scrap cannon is added to the store.
# Setting type: Boolean
# Default value: true
Enabled = true

## The cost of the Scrap cannon in the store. -1 means default (currently 300).
# Setting type: Int32
# Default value: -1
Price = 250

## Displays lines on the screen while holding the Scrap cannon indicating target angles (blue is ship, yellow is main entrance, red is fire exit).
# Setting type: Boolean
# Default value: false
ShowGuideLines = false

## Prevents the player from jumping or sprinting while carrying the Scrap cannon.
# Setting type: Boolean
# Default value: false
HinderedMovement = false

