## Settings file was created by plugin Zaprillator v1.0.2
## Plugin GUID: Zaprillator

[Revive]

## A full charge is required to revive a player.
# Setting type: Boolean
# Default value: false
RequiresFullCharge = false

## Define if restored health is relative to the gun's charge.
# Setting type: Boolean
# Default value: true
RelativeHealth = true

