## Settings file was created by plugin Restore Vanilla Vision v1.2.0
## Plugin GUID: blubbpaule.restorevision

[General]

## Enable for brighter pre-v80 lighting. Disable for darker v80-style lighting.
# Setting type: Boolean
# Default value: true
RestoreVanillaVision = true

