## Settings file was created by plugin CompanyGlobes v1.1.1
## Plugin GUID: CompanyGlobes

[Interior Spawn Weights]

Preset weights = -1

[Moon Spawn Weights]

Preset weights = -1

[Scrap Options]

## Whether Scrap is enabled.
# Setting type: Boolean
# Default value: true
Enabled = true

## Whether you're allowed to edit the config entries for Globe.
# Setting type: Boolean
# Default value: false
Globe | Allow Editing Config = false

## Preset moon weights for Globe.
# Setting type: String
# Default value: lethal_company:all=+12,lethal_company:dine=*0
Globe | Preset Moon Weights = lethal_company:all=+12,lethal_company:dine=*0

## Preset interior weights for Globe.
# Setting type: String
# Default value: lethal_company:ornate=+2,lethal_company:cavern=-2
Globe | Preset Interior Weights = lethal_company:ornate=+2,lethal_company:cavern=-2

## Preset weather weights for Globe.
# Setting type: String
# Default value: lethal_company:foggy=*1.2
Globe | Preset Weather Weights = lethal_company:foggy=*1.2

## Preset route weights for Globe.
# Setting type: String
# Default value: 
Globe | Preset Route Weights = 

## How much Globe is worth when spawning.
# Setting type: BoundedRange
# Default value: 54,114
Globe | Value = 54,114

[Weather Spawn Weights]

Preset weights = -1

