## Settings file was created by plugin EyelessDogJumpscareMod v2 v2.0.0
## Plugin GUID: EDJM2

[Enemies - Additional - Bush Wolf]

# Setting type: Boolean
# Default value: false
Trigger on Bush Wolf = false

# Setting type: Boolean
# Default value: false
On collide = false

[Enemies - Additional - Lasso Man]

# Setting type: Boolean
# Default value: false
Trigger on Lasso Man = false

# Setting type: Boolean
# Default value: false
On collide = false

[Enemies - Baboon Hawk]

# Setting type: Boolean
# Default value: false
Trigger on Baboon Hawk = false

# Setting type: Boolean
# Default value: false
On collide = false

[Enemies - Barber]

# Setting type: Boolean
# Default value: false
Trigger on Barber = false

# Setting type: Boolean
# Default value: false
On collide = false

[Enemies - Bracken]

# Setting type: Boolean
# Default value: false
Trigger on Bracken = false

# Setting type: Boolean
# Default value: false
On collide = false

[Enemies - Bunker Spider]

# Setting type: Boolean
# Default value: false
Trigger on Bunker Spider = false

# Setting type: Boolean
# Default value: false
On collide = false

[Enemies - Butler]

# Setting type: Boolean
# Default value: false
Trigger on Butler = false

# Setting type: Boolean
# Default value: false
On collide = false

# Setting type: Boolean
# Default value: true
Trigger on Butlers Bees = true

# Setting type: Boolean
# Default value: true
On collide w/ bees = true

[Enemies - CircuitBees]

# Setting type: Boolean
# Default value: false
Trigger on Circuit Bees = false

# Setting type: Boolean
# Default value: false
On collide = false

[Enemies - Coilhead]

# Setting type: Boolean
# Default value: true
Trigger on Coilhead = true

# Setting type: Boolean
# Default value: false
On collide = false

[Enemies - Eyeless Dog]

# Setting type: Boolean
# Default value: true
Trigger on Eyeless Dog = true

# Setting type: Boolean
# Default value: false
On collide = false

[Enemies - Forest Giant]

# Setting type: Boolean
# Default value: true
Trigger on Forest Giant = true

# Setting type: Boolean
# Default value: true
On collide = true

[Enemies - Ghost Girl]

# Setting type: Boolean
# Default value: true
Trigger on Ghost Girl = true

# Setting type: Boolean
# Default value: false
On collide = false

[Enemies - Hoarding Bug]

# Setting type: Boolean
# Default value: false
Trigger on Hoarding Bug = false

# Setting type: Boolean
# Default value: false
On collide = false

[Enemies - Hydrogere]

# Setting type: Boolean
# Default value: false
Trigger on Hydrogere = false

# Setting type: Boolean
# Default value: false
On collide = false

[Enemies - Jester]

# Setting type: Boolean
# Default value: true
Trigger on Jester = true

# Setting type: Boolean
# Default value: false
On collide = false

[Enemies - Maneater]

# Setting type: Boolean
# Default value: true
Trigger on Maneater = true

# Setting type: Boolean
# Default value: false
On collide = false

[Enemies - Manticoil]

# Setting type: Boolean
# Default value: false
Trigger on Manticoil = false

# Setting type: Boolean
# Default value: false
On collide = false

[Enemies - Masked]

# Setting type: Boolean
# Default value: false
Trigger on Masked = false

# Setting type: Boolean
# Default value: false
On collide = false

[Enemies - Nutcracker]

# Setting type: Boolean
# Default value: true
Trigger on Nutcracker = true

# Setting type: Boolean
# Default value: false
On collide = false

[Enemies - Old Bird]

# Setting type: Boolean
# Default value: true
Trigger on Old Bird = true

# Setting type: Boolean
# Default value: false
On collide = false

[Enemies - Roaming Locust]

# Setting type: Boolean
# Default value: false
Trigger on Roaming Locusts = false

# Setting type: Boolean
# Default value: false
On collide = false

[Enemies - Sandworm]

# Setting type: Boolean
# Default value: true
Trigger on Sandworm = true

# Setting type: Boolean
# Default value: false
On collide = false

[Enemies - Snare Flea]

# Setting type: Boolean
# Default value: true
Trigger on Snare Flea = true

# Setting type: Boolean
# Default value: true
On collide = true

[Enemies - Spore Lizard]

# Setting type: Boolean
# Default value: false
Trigger on Spore Lizard = false

# Setting type: Boolean
# Default value: false
On collide = false

[Enemies - Thumper]

# Setting type: Boolean
# Default value: true
Trigger on Thumper = true

# Setting type: Boolean
# Default value: true
On collide = true

[Enemies - Tulip Snake]

# Setting type: Boolean
# Default value: false
Trigger on Tulip Snake = false

# Setting type: Boolean
# Default value: false
On collide = false

[General]

## Determines if the duration of the fadeout and audio pitch should be randomised. This config entry was NOT automatically generated btw. xoxo.
# Setting type: Boolean
# Default value: true
Randomise duration = true

## Should the flashes be triggered for all or just for you? (Disclaimer: This and all the other fields are determined by the host's config.)
# Setting type: Boolean
# Default value: true
Is global? = true

## The floor of the random calculation
# Setting type: Single
# Default value: 0.3
Minimum Fadeout = 0.3

## The ceiling of the random calculation
# Setting type: Single
# Default value: 1.5
Maximum Fadeout = 1.5

## The time in seconds until the next flash can appear. If images are flashing on collision rather than on death, the image will flash every frame unless a delay is set.
# Setting type: Single
# Default value: 1.5
Delay between flash = 1.5

## Is the delay value still used between player deaths, rather than collisions?
# Setting type: Boolean
# Default value: false
Delay on death? = false

[Player Interactions]

## Triggers image on every death. Reccomended to keep this off.
# Setting type: Boolean
# Default value: false
Trigger on any death = false

## Triggers every time a player is killed via a bullet.
# Setting type: Boolean
# Default value: false
Player shot = false

## Triggers every time a player falls to their death.
# Setting type: Boolean
# Default value: false
Player fell = false

## Triggers every time a player drowns. (Nothing ever happens in the lake)
# Setting type: Boolean
# Default value: false
Player drowned = false

## Triggers every time a player is killed by a spike trap.
# Setting type: Boolean
# Default value: false
Spike trap = false

## Triggers every time a player is killed by a turret.
# Setting type: Boolean
# Default value: false
Turret = false

## Triggers every time a player is killed by a landmine.
# Setting type: Boolean
# Default value: false
Landmine = true

