## Settings file was created by plugin Megaphone v1.2.3
## Plugin GUID: ESN.Megaphone

[Audio.Distances]

## Change the distance multiplier the voices can be heard from when talking in
## 'loud mode' (switch with Q).
## Min: 0.0
## [Client side]
# Setting type: Single
# Default value: 2
HearingDistanceModifier = 2

## Change the distance multiplier the siren can be heard from (switch with Q).
## Min: 0.0
## [Client side]
# Setting type: Single
# Default value: 2
SirenHearingDistanceModifier = 2

## Change the distance multiplier the SFX can be heard from.
## Min: 0.0
## [Client side]
# Setting type: Single
# Default value: 2
SFXHearingDistanceModifier = 2

## Change the distance multiplier the SFX can be heard from by enemies.
## This multiplier is applied after the base hear distance modifier.
## Min: 0.0
## [Client side]
# Setting type: Single
# Default value: 1
EnemySFXHearingDistanceModifier = 1

[Audio.Pitch]

## Set the pitch for the robot voice.
## Min: 0.5    Max: 2.0
## [Client side]
# Setting type: Single
# Default value: 0.9
RobotVoicePitch = 0.9

[Audio.Volume]

## Volume multiplier of the 'Loud voice' filter. Recommended below 1.0 because
## the distortion increases the volume, 1.0 is already higher than normal voice.
## Min: 0.0    Max: 1.2
## [Client side]
# Setting type: Single
# Default value: 0.9
LoudVoiceVolume = 0.9

## Volume multiplier of the SFX sounds.
## Min: 0.0    Max: 1.2
## [Client side]
# Setting type: Single
# Default value: 1
SFXVolume = 1

[Item]

## Can the item be bought from the terminal.
## [Client side]
# Setting type: Boolean
# Default value: false
CanBeBought = true

## Can the item spawn in interiors.
## Not recommended to have both this and 'CanBuy' set to true.
## [Host side]
# Setting type: Boolean
# Default value: true
IsScrap = false

## Rarity of the object. 0 is never, 100 is often.
## Min: 0      Max: 100
## [Host side]
# Setting type: Int32
# Default value: 10
ScrapRarity = -1

## Buy cost of the item.
## Min: 0
## [Client side]
# Setting type: Int32
# Default value: 60
Price = 60

[Scrap]

## Set the minimum scrap sell value.
## Min: 0
## [Host side]
# Setting type: Int32
# Default value: 30
ScrapMinPrince = 30

## Set the maximum scrap sell value.
## Min: <ScrapMinPrince>
## [Host side]
# Setting type: Int32
# Default value: 60
ScrapMaxPrince = 60

