## Settings file was created by plugin CompanyHauler v2.2.21
## Plugin GUID: glojam.CompanyHauler

[General]

## Enable rendering for the side mirrors? (may impact performance for low end hardware)
# Setting type: Boolean
# Default value: true
Enable Mirrors = true

[Quality Of Life]

## Should the wheel be automatically re-centered?
# Setting type: Boolean
# Default value: false
Automatically Center Wheel = false

