[Configuration]

## Check this to generate and use configuration files for items.
# Setting type: Boolean
# Default value: true
Configure Items = false

## Check this to generate and use configuration files for enemies.
# Setting type: Boolean
# Default value: true
Configure Enemies = true

## Check this to generate and use configuration files for moons.
# Setting type: Boolean
# Default value: true
Configure Moons = false

## Check this to generate and use configuration files for dungeons.
# Setting type: Boolean
# Default value: true
Configure Dungeons = false

## Check this to generate and use configuration files for map objects.
# Setting type: Boolean
# Default value: true
Configure Map Objects = false

## Check this to generate and use configuration files for unlockables.
# Setting type: Boolean
# Default value: true
Configure Unlockables = true

## Check this to generate and use configuration files for weather injection.
# Setting type: Boolean
# Default value: true
Configure Weather Injection = true

## Check this to generate and use configuration files for dungeon injection.
# Setting type: Boolean
# Default value: true
Configure Dungeon Injection = true

## Check this to generate and use configuration files for tag injection.
# Setting type: Boolean
# Default value: true
Configure Tag Injection = true

## Allows Lunar to look for config entries that are named using the previous v0.1.x system, I would advise turning this off after you have all your previous values.
# Setting type: Boolean
# Default value: false
Enable Backwards Compat = false

## WARNING: Enabling this will delete any config entries that get disabled when the configuration is refreshed!
# Setting type: Boolean
# Default value: false
Clear Orphaned Entries = true

## Checking this will make items have a scrap value that already anticipates the *0.4.
# Setting type: Boolean
# Default value: false
Use Simple Scrap Value = false

## Checking this will make items have their weight in pounds, already converting from Zeeker's formula.
# Setting type: Boolean
# Default value: false
Use Simple Weight = false

## Checking this will automatically hide and lock every moon regardless of other options.
# Setting type: Boolean
# Default value: false
Hide And Lock All Moons = false

[Enabled Dungeon Injection Settings]

## Disable this to disable configuring this property in dungeon injection config entries.
# Setting type: Boolean
# Default value: true
Spawnable Scrap = true

## Disable this to disable configuring this property in dungeon injection config entries.
# Setting type: Boolean
# Default value: true
Spawnable Daytime Enemies = true

## Disable this to disable configuring this property in dungeon injection config entries.
# Setting type: Boolean
# Default value: true
Spawnable Interior Enemies = true

## Disable this to disable configuring this property in dungeon injection config entries.
# Setting type: Boolean
# Default value: true
Spawnable Outside Enemies = true

[Enabled Enemy Settings]

## Disable this to disable configuring this property in enemy config entries.
# Setting type: Boolean
# Default value: true
Display Name = false

## Disable this to disable configuring this property in enemy config entries.
# Setting type: Boolean
# Default value: true
Scan Name = true

## Disable this to disable configuring this property in enemy config entries.
# Setting type: Boolean
# Default value: true
Scan Subtext = true

## Disable this to disable configuring this property in enemy config entries.
# Setting type: Boolean
# Default value: true
Scan Min Range = false

## Disable this to disable configuring this property in enemy config entries.
# Setting type: Boolean
# Default value: true
Scan Max Range = false

## Disable this to disable configuring this property in enemy config entries.
# Setting type: Boolean
# Default value: true
Can See Through Fog? = false

## Disable this to disable configuring this property in enemy config entries.
# Setting type: Boolean
# Default value: true
Door Speed Multiplier = false

## Disable this to disable configuring this property in enemy config entries.
# Setting type: Boolean
# Default value: true
Is Daytime Enemy? = false

## Disable this to disable configuring this property in enemy config entries.
# Setting type: Boolean
# Default value: true
Is Outdoor Enemy? = false

## Disable this to disable configuring this property in enemy config entries.
# Setting type: Boolean
# Default value: true
Loudness Multiplier = false

## Disable this to disable configuring this property in enemy config entries.
# Setting type: Boolean
# Default value: true
Max Count = true

## Disable this to disable configuring this property in enemy config entries.
# Setting type: Boolean
# Default value: true
Power Level = false

## Disable this to disable configuring this property in enemy config entries.
# Setting type: Boolean
# Default value: true
Diversity Power Level = true

## Disable this to disable configuring this property in enemy config entries.
# Setting type: Boolean
# Default value: true
Probability Curve = false

## Disable this to disable configuring this property in enemy config entries.
# Setting type: Boolean
# Default value: true
Use Falloff? = false

## Disable this to disable configuring this property in enemy config entries.
# Setting type: Boolean
# Default value: true
Falloff Curve = false

## Disable this to disable configuring this property in enemy config entries.
# Setting type: Boolean
# Default value: true
Group Spawn Count = false

## Disable this to disable configuring this property in enemy config entries.
# Setting type: Boolean
# Default value: true
Normalized Time To Leave = false

## Enable this to enable configuring this property in enemy config entries.
# Setting type: Boolean
# Default value: false
Disable Increased Chance Interior = false

## Disable this to disable configuring this property in enemy config entries.
# Setting type: Boolean
# Default value: true
Enemy HP = false

## Disable this to disable configuring this property in enemy config entries.
# Setting type: Boolean
# Default value: true
Can Die? = false

## Disable this to disable configuring this property in enemy config entries.
# Setting type: Boolean
# Default value: true
Destroy On Death? = false

## Disable this to disable configuring this property in enemy config entries.
# Setting type: Boolean
# Default value: true
Can Destroy? = false

## Disable this to disable configuring this property in enemy config entries.
# Setting type: Boolean
# Default value: true
Can Stun? = false

## Disable this to disable configuring this property in enemy config entries.
# Setting type: Boolean
# Default value: true
Stun Difficulty = false

## Disable this to disable configuring this property in enemy config entries.
# Setting type: Boolean
# Default value: true
Stun Time = false

## Enable this to enable configuring this property in enemy config entries.
# Setting type: Boolean
# Default value: false
Bestiary Text = false

## Enable this to enable configuring this property in enemy config entries.
# Setting type: Boolean
# Default value: false
Bestiary Keyword = false

## Disable this to disable configuring this property in enemy config entries.
# Setting type: Boolean
# Default value: true
Tags = true

[Enabled Tag Injection Settings]

## Disable this to disable configuring this property in tag injection config entries.
# Setting type: Boolean
# Default value: true
Spawnable Scrap = true

## Disable this to disable configuring this property in tag injection config entries.
# Setting type: Boolean
# Default value: true
Spawnable Daytime Enemies = true

## Disable this to disable configuring this property in tag injection config entries.
# Setting type: Boolean
# Default value: true
Spawnable Interior Enemies = true

## Disable this to disable configuring this property in tag injection config entries.
# Setting type: Boolean
# Default value: true
Spawnable Outside Enemies = true

## Disable this to disable configuring this property in tag injection config entries.
# Setting type: Boolean
# Default value: true
Possible Interiors = true

[Enabled Unlockable Settings]

## Disable this to disable configuring this property in unlockable config entries.
# Setting type: Boolean
# Default value: true
Already Unlocked = true

## Disable this to disable configuring this property in unlockable config entries.
# Setting type: Boolean
# Default value: true
Always In Stock = true

## Disable this to disable configuring this property in unlockable config entries.
# Setting type: Boolean
# Default value: true
Can Store? = true

## Disable this to disable configuring this property in unlockable config entries.
# Setting type: Boolean
# Default value: true
Is Placeable? = true

## Disable this to disable configuring this property in unlockable config entries.
# Setting type: Boolean
# Default value: true
Luck Value = true

## Disable this to disable configuring this property in unlockable config entries.
# Setting type: Boolean
# Default value: true
Max Number = true

## Disable this to disable configuring this property in unlockable config entries.
# Setting type: Boolean
# Default value: true
Unlocked In Challenge File = true

## Enable this to enable configuring this property in unlockable config entries.
# Setting type: Boolean
# Default value: false
Buy Keyword = false

## Enable this to enable configuring this property in unlockable config entries.
# Setting type: Boolean
# Default value: false
Confirm Node Text = false

## Enable this to enable configuring this property in unlockable config entries.
# Setting type: Boolean
# Default value: false
Info Node Text = false

## Enable this to enable configuring this property in unlockable config entries.
# Setting type: Boolean
# Default value: false
Request Node Text = false

## Enable this to enable configuring this property in unlockable config entries.
# Setting type: Boolean
# Default value: false
Shop Selection Node Text = false

## Disable this to disable configuring this property in unlockable config entries.
# Setting type: Boolean
# Default value: true
Cost = true

## Disable this to disable configuring this property in unlockable config entries.
# Setting type: Boolean
# Default value: true
Tags = true

[Enabled Weather Injection Settings]

## Disable this to disable configuring this property in weather injection config entries.
# Setting type: Boolean
# Default value: true
Spawnable Scrap = true

## Disable this to disable configuring this property in weather injection config entries.
# Setting type: Boolean
# Default value: true
Spawnable Daytime Enemies = true

## Disable this to disable configuring this property in weather injection config entries.
# Setting type: Boolean
# Default value: true
Spawnable Interior Enemies = true

## Disable this to disable configuring this property in weather injection config entries.
# Setting type: Boolean
# Default value: true
Spawnable Outside Enemies = true

## Disable this to disable configuring this property in weather injection config entries.
# Setting type: Boolean
# Default value: true
Possible Interiors = true

