[Hazards]

## Decrease radius by 1/15 every second
# Setting type: Boolean
# Default value: true
Enable ACUnit zap = false

## ...have you ever tried to charge a conductive item?
# Setting type: Boolean
# Default value: true
Enable BearTrap zap = false

## Increases cooldown to a maximum of 1 minute
# Setting type: Boolean
# Default value: true
Enable FlashTurret zap = false

## Turns off the fan during zap
# Setting type: Boolean
# Default value: true
Enable IndustrialFan zap = false

## Beware of the laser turret battery explosion
# Setting type: Boolean
# Default value: true
Enable LazerTurret zap = false

## Toggle microwave
# Setting type: Boolean
# Default value: true
Enable Microwave zap = false

## Turns off tesla at half the maximum charge of the zap gun... but beware of the zap gun explosion
# Setting type: Boolean
# Default value: true
Enable Tesla zap = false

