[Enemies]

# Setting type: Boolean
# Default value: false
Red pill = false

# Setting type: Boolean
# Default value: false
Flowerman = false

# Setting type: Boolean
# Default value: false
Centipede = false

# Setting type: Boolean
# Default value: false
MouthDog = false

# Setting type: Boolean
# Default value: false
Crawler = false

# Setting type: Boolean
# Default value: false
Hoarding bug = false

# Setting type: Boolean
# Default value: false
Bunker Spider = false

# Setting type: Boolean
# Default value: false
Blob = false

# Setting type: Boolean
# Default value: false
ForestGiant = false

# Setting type: Boolean
# Default value: false
Girl = false

# Setting type: Boolean
# Default value: false
Lasso = false

# Setting type: Boolean
# Default value: false
Spring = false

# Setting type: Boolean
# Default value: false
Earth Leviathan = false

# Setting type: Boolean
# Default value: false
Jester = false

# Setting type: Boolean
# Default value: false
Puffer = false

# Setting type: Boolean
# Default value: false
Manticoil = false

# Setting type: Boolean
# Default value: false
Docile Locust Bees = false

# Setting type: Boolean
# Default value: false
Red Locust Bees = false

# Setting type: Boolean
# Default value: false
Baboon hawk = false

# Setting type: Boolean
# Default value: false
Nutcracker = false

# Setting type: Boolean
# Default value: true
Masked = true

# Setting type: Boolean
# Default value: false
RadMech = false

# Setting type: Boolean
# Default value: false
Butler = false

# Setting type: Boolean
# Default value: false
Butler Bees = false

# Setting type: Boolean
# Default value: false
Tulip Snake = false

# Setting type: Boolean
# Default value: false
Clay Surgeon = false

# Setting type: Boolean
# Default value: false
Maneater = false

# Setting type: Boolean
# Default value: false
GiantKiwi = false

# Setting type: Boolean
# Default value: false
Stingray = false

# Setting type: Boolean
# Default value: false
Bush Wolf = false

# Setting type: Boolean
# Default value: false
Feiopar = false

# Setting type: Boolean
# Default value: false
Cadaver Growths = false

# Setting type: Boolean
# Default value: false
Cadaver Bloom = false

# Setting type: Boolean
# Default value: false
Ogopogo = false

# Setting type: Boolean
# Default value: false
Vermin = false

# Setting type: Boolean
# Default value: false
Boom bird = false

# Setting type: Boolean
# Default value: false
Leaf boy = false

# Setting type: Boolean
# Default value: false
Prototax = false

# Setting type: Boolean
# Default value: false
Coil Crab = false

# Setting type: Boolean
# Default value: false
Aloe = false

# Setting type: Boolean
# Default value: false
Mannequin = false

# Setting type: Boolean
# Default value: false
Headless Mannequin = false

# Setting type: Boolean
# Default value: false
Broken Mannequin = false

# Setting type: Boolean
# Default value: false
Arachnohead = false

# Setting type: Boolean
# Default value: false
Corpse Crawler = false

# Setting type: Boolean
# Default value: false
Creaker = false

# Setting type: Boolean
# Default value: false
Dark Spring = false

# Setting type: Boolean
# Default value: false
Elder = false

# Setting type: Boolean
# Default value: false
Floating head = false

# Setting type: Boolean
# Default value: false
Emma = false

# Setting type: Boolean
# Default value: false
Snatcher = false

# Setting type: Boolean
# Default value: false
Baboon duck = false

# Setting type: Boolean
# Default value: false
Dont Touch Me = false

# Setting type: Boolean
# Default value: false
Chair = false

# Setting type: Boolean
# Default value: false
Siren Head = false

# Setting type: Boolean
# Default value: false
Locker = false

# Setting type: Boolean
# Default value: false
Knight = false

# Setting type: Boolean
# Default value: false
Maid = false

# Setting type: Boolean
# Default value: false
Ghost Knight = false

# Setting type: Boolean
# Default value: false
VileVendingMachine = false

# Setting type: Boolean
# Default value: false
Shy guy = false

# Setting type: Boolean
# Default value: false
Cabinet = false

# Setting type: Boolean
# Default value: false
Thing = false

Football = false

The Nightwatch = false

Boomba = false

Soul_Devourer = false

Soul Devourer Inside = false

Bruce = false

Shadow = false

Cactus Budling = false

Rabbit Magician = false

Peace Keeper = false

Lord Of The Manor = false

Driftwood Menace = false

CutieFly = false

Monarch = false

Mistress = false

Redwood Titan = false

Transporter = false

Walker = false

Pikmin = false

Puffmin = false

