## Settings file was created by plugin PersistentPurchases v1.1.1
## Plugin GUID: PersistentPurchases

[Unlockables]

# Setting type: Boolean
# Default value: true
Orange suit = true

# Setting type: Boolean
# Default value: true
Green suit = true

# Setting type: Boolean
# Default value: true
Hazard suit = true

# Setting type: Boolean
# Default value: true
Pajama suit = true

# Setting type: Boolean
# Default value: true
Cozy lights = true

# Setting type: Boolean
# Default value: false
Teleporter = false

# Setting type: Boolean
# Default value: true
Television = true

# Setting type: Boolean
# Default value: true
Cupboard = true

# Setting type: Boolean
# Default value: true
File Cabinet = true

# Setting type: Boolean
# Default value: true
Toilet = true

# Setting type: Boolean
# Default value: true
Shower = true

# Setting type: Boolean
# Default value: true
Light switch = true

# Setting type: Boolean
# Default value: true
Record player = true

# Setting type: Boolean
# Default value: true
Table = true

# Setting type: Boolean
# Default value: true
Romantic table = true

# Setting type: Boolean
# Default value: true
Bunkbeds = true

# Setting type: Boolean
# Default value: true
Terminal = true

# Setting type: Boolean
# Default value: false
Signal translator = false

# Setting type: Boolean
# Default value: false
Loud horn = false

# Setting type: Boolean
# Default value: false
Inverse Teleporter = false

# Setting type: Boolean
# Default value: true
JackOLantern = true

# Setting type: Boolean
# Default value: true
Welcome mat = true

# Setting type: Boolean
# Default value: true
Goldfish = true

# Setting type: Boolean
# Default value: true
Plushie pajama man = true

# Setting type: Boolean
# Default value: true
Purple Suit = true

# Setting type: Boolean
# Default value: true
Bee Suit = true

# Setting type: Boolean
# Default value: true
Bunny Suit = true

# Setting type: Boolean
# Default value: false
Disco Ball = false

# Setting type: Boolean
# Default value: false
Microwave = false

# Setting type: Boolean
# Default value: false
Sofa chair = false

# Setting type: Boolean
# Default value: false
Fridge = false

# Setting type: Boolean
# Default value: false
Classic painting = false

# Setting type: Boolean
# Default value: false
Electric chair = false

# Setting type: Boolean
# Default value: false
Dog house = false

# Setting type: Boolean
# Default value: false
Med Station = false

# Setting type: Boolean
# Default value: false
Bed = false

# Setting type: Boolean
# Default value: false
Beanbag Chair = false

# Setting type: Boolean
# Default value: false
Blue Carpet = false

# Setting type: Boolean
# Default value: false
Cabinet = false

# Setting type: Boolean
# Default value: false
Couch = false

# Setting type: Boolean
# Default value: false
Drink Fridge = false

# Setting type: Boolean
# Default value: false
Freezer = false

# Setting type: Boolean
# Default value: false
Lamp = false

# Setting type: Boolean
# Default value: false
Oak Chair = false

# Setting type: Boolean
# Default value: false
Rolling Chair = false

# Setting type: Boolean
# Default value: false
Ornate Table = false

# Setting type: Boolean
# Default value: false
Red Carpet = false

# Setting type: Boolean
# Default value: false
Shelf = false

# Setting type: Boolean
# Default value: false
Stool = false

# Setting type: Boolean
# Default value: true
Brown suit = true

# Setting type: Boolean
# Default value: false
Whiteboard = false

# Setting type: Boolean
# Default value: false
Mirror = false

# Setting type: Boolean
# Default value: false
Radio = false

# Setting type: Boolean
# Default value: false
Bodycam = false

# Setting type: Boolean
# Default value: true
Gold Suit = true

# Setting type: Boolean
# Default value: false
Golden Throne = false

# Setting type: Boolean
# Default value: true
Bronze Suit = true

# Setting type: Boolean
# Default value: true
Silver Suit = true

# Setting type: Boolean
# Default value: false
Directory LOG = false

# Setting type: Boolean
# Default value: false
Groovy Gold = false

# Setting type: Boolean
# Default value: false
Gold Toilet = false

# Setting type: Boolean
# Default value: false
Cat o Gold = false

# Setting type: Boolean
# Default value: false
Safe Box = false

# Setting type: Boolean
# Default value: false
Goldfather Clock = false

# Setting type: Boolean
# Default value: false
Gold Trophy = false

# Setting type: Boolean
# Default value: false
Gold Medal = false

# Setting type: Boolean
# Default value: true
Red Suit = true

# Setting type: Boolean
# Default value: true
Yellow Suit = true

# Setting type: Boolean
# Default value: true
Green Suit = true

# Setting type: Boolean
# Default value: true
Blue Suit = true

# Setting type: Boolean
# Default value: true
Pink Suit = true

# Setting type: Boolean
# Default value: true
White Suit = true

# Setting type: Boolean
# Default value: true
Black Suit = true

# Setting type: Boolean
# Default value: true
Kirby Suit = true

# Setting type: Boolean
# Default value: true
Luigi Suit = true

# Setting type: Boolean
# Default value: true
Shinsou Suit = true

# Setting type: Boolean
# Default value: true
Shrek Suit = true

# Setting type: Boolean
# Default value: true
1 - Dark Gray = true

# Setting type: Boolean
# Default value: true
1 - Gray = true

# Setting type: Boolean
# Default value: true
1 - Light Gray = true

# Setting type: Boolean
# Default value: true
1 - White = true

# Setting type: Boolean
# Default value: true
2 - Corporal Red = true

# Setting type: Boolean
# Default value: true
2 - Hud Red = true

# Setting type: Boolean
# Default value: true
2 - Mahogany = true

# Setting type: Boolean
# Default value: true
2 - Mario Red = true

# Setting type: Boolean
# Default value: true
2 - Scarlet = true

# Setting type: Boolean
# Default value: true
3 - Apricot = true

# Setting type: Boolean
# Default value: true
3 - Burnt Orange = true

# Setting type: Boolean
# Default value: true
3 - Grapefruit = true

# Setting type: Boolean
# Default value: true
3 - Twins = true

# Setting type: Boolean
# Default value: true
3- Goldfish = true

# Setting type: Boolean
# Default value: true
4 - Banana = true

# Setting type: Boolean
# Default value: true
4 - Dijon = true

# Setting type: Boolean
# Default value: true
4 - Mustard = true

# Setting type: Boolean
# Default value: true
4 - Ochre = true

# Setting type: Boolean
# Default value: true
4 - Seargent Major = true

# Setting type: Boolean
# Default value: true
5 - Chartreuse = true

# Setting type: Boolean
# Default value: true
5 - Green = true

# Setting type: Boolean
# Default value: true
5 - Hoarding Olive = true

# Setting type: Boolean
# Default value: true
5 - Luigi Green = true

# Setting type: Boolean
# Default value: true
5 - Toxic Green = true

# Setting type: Boolean
# Default value: true
6 - Adventure Blue = true

# Setting type: Boolean
# Default value: true
6 - Blue = true

# Setting type: Boolean
# Default value: true
6 - Light Blue = true

# Setting type: Boolean
# Default value: true
6 - Private Blue = true

# Setting type: Boolean
# Default value: true
6 - Virtual Turquoise = true

# Setting type: Boolean
# Default value: true
7 - Blurple = true

# Setting type: Boolean
# Default value: true
7 - Dark Purple = true

# Setting type: Boolean
# Default value: true
7 - Eggplant = true

# Setting type: Boolean
# Default value: true
7 - Lavender = true

# Setting type: Boolean
# Default value: true
7 - Purple = true

# Setting type: Boolean
# Default value: true
8 - Bubblegum = true

# Setting type: Boolean
# Default value: true
8 - Despair Pink = true

# Setting type: Boolean
# Default value: true
8 - Pastel Pink = true

# Setting type: Boolean
# Default value: true
8 - Pink = true

# Setting type: Boolean
# Default value: true
8 - Punch = true

# Setting type: Boolean
# Default value: true
9 - Brown = true

# Setting type: Boolean
# Default value: true
9 - Chestnut = true

# Setting type: Boolean
# Default value: true
9 - Cocoa = true

# Setting type: Boolean
# Default value: true
9 - Copper = true

# Setting type: Boolean
# Default value: true
9 - Syrup = true

# Setting type: Boolean
# Default value: true
B1 - Red Pajama = true

# Setting type: Boolean
# Default value: true
B1 - Yellow Pajama = true

# Setting type: Boolean
# Default value: true
B2 - Colonel = true

# Setting type: Boolean
# Default value: true
B2 - Magic Purple = true

# Setting type: Boolean
# Default value: true
B2 - Sluggish Blue = true

# Setting type: Boolean
# Default value: true
B2 - Ursine Khaki = true

# Setting type: Boolean
# Default value: true
B3 - Content Employee Blue = true

# Setting type: Boolean
# Default value: true
B3 - Content Employee Orange = true

# Setting type: Boolean
# Default value: true
B3 - Content Employee Red = true

# Setting type: Boolean
# Default value: true
B3 - Content Employee Yellow = true

# Setting type: Boolean
# Default value: true
B4 - Hawaiian Suit Black = true

# Setting type: Boolean
# Default value: true
B4 - Hawaiian Suit Blue = true

# Setting type: Boolean
# Default value: true
B4 - Hawaiian Suit Green = true

# Setting type: Boolean
# Default value: true
B4 - Hawaiian Suit Purple = true

# Setting type: Boolean
# Default value: true
B4 - Hawaiian Suit Red = true

# Setting type: Boolean
# Default value: true
B4 - Hawaiian Suit Yellow = true

# Setting type: Boolean
# Default value: true
B5 - Mooshroom Cow = true

# Setting type: Boolean
# Default value: true
B5 - Vanilla Cow = true

# Setting type: Boolean
# Default value: true
EX - Bedbug = true

# Setting type: Boolean
# Default value: true
EX - Cool Grey = true

# Setting type: Boolean
# Default value: true
EX - Disco = true

# Setting type: Boolean
# Default value: true
EX - Dreamy = true

# Setting type: Boolean
# Default value: true
EX - Kitted Tux = true

# Setting type: Boolean
# Default value: true
EX - Lizard Blue = true

# Setting type: Boolean
# Default value: true
EX - TV Time = true

# Setting type: Boolean
# Default value: true
Blix = true

# Setting type: Boolean
# Default value: true
DrDrip = true

# Setting type: Boolean
# Default value: true
LSD = true

# Setting type: Boolean
# Default value: true
MySuit = true

# Setting type: Boolean
# Default value: true
Prom = true

# Setting type: Boolean
# Default value: true
Sasha = true

# Setting type: Boolean
# Default value: true
Tilted = true

# Setting type: Boolean
# Default value: true
Oldtimer = true

# Setting type: Boolean
# Default value: true
Overtime = true

Personal Phones = false

Switchboard = false

