## Settings file was created by plugin BSide v1.0.0
## Plugin GUID: soundpack.BSide

[EnabledSounds]

## Enable boombox song b1? (Replaces boombox song 1)
# Setting type: Boolean
# Default value: true
boombox b1 = true

## Enable boombox song b2? (Replaces boombox song 2)
# Setting type: Boolean
# Default value: true
boombox b2 = true

## Enable boombox song b3? (Replaces boombox song 3)
# Setting type: Boolean
# Default value: true
boombox b3 = true

## Enable the new icecream truck song?
# Setting type: Boolean
# Default value: true
icecream truck = true

## Enable the new mineshaft elevator song?
# Setting type: Boolean
# Default value: true
mineshaft elevator = true

## Enable LC Office interior elevator mix 1? (Replaces nico's nextbots ost - shop)
# Setting type: Boolean
# Default value: true
office elevator mix 1 = true

## Enable LC Office interior elevator mix 2? (Replaces nico's nextbots ost - safe room)
# Setting type: Boolean
# Default value: true
office elevator mix 2 = true

## Enable the new company speech intro sound effect?
# Setting type: Boolean
# Default value: true
company speech/intro = false

