[Options]

## Mutes Battle Music
# Setting type: Boolean
# Default value: true
Streamer Mode = true

## Enable Battle Encounter Darkworlders.
# Setting type: Boolean
# Default value: true
Battle Encounters = true

## Enable Darkworlder NPC Hazards.
# Setting type: Boolean
# Default value: true
NPC Hazards = true

